﻿<div class="container">
    <div class="row text-center" style="margin-top: 200px">
        <div style="display: inline-block; vertical-align: middle;">
            <div class="text-center">
                <h1 style="border-bottom: solid 1px dimgray; margin-bottom: 20px; padding-bottom: 20px">Không tìm thấy trang</h1>
                <div class="col-md-12">
                    <button class="btn btn-sm btn-primary" (click)="onGoHomePage()">Trang chủ</button>
                    <button class="btn btn-sm btn-primary" (click)="onGoLoginPage()">Đăng nhập</button>
                </div>
            </div>
        </div>
    </div>
</div>