<div class="container sbg-popup" [hidden]="hidePoup">
    <div fxLayout="row" class="mb-3 sbg-popup-title" fxLayoutGap="20px" fxLayoutGap.xs="0" fxLayoutAlign="right">
        <label mat-dialog-title style="width: 99%" class="text-uppercase">
            {{translateKey.ADVERTISING_CONFIG_MANAGER.POPUP_TITLE_SELECT_ADVERTISING | translate : headerPopup}}
        </label>
        <i class="material-icons cursor-pointer" (click)="onClose()" matDialogClose>close </i>
    </div>
    <div class="row sbg-popup-body">
        <div class="mdc-layout-grid mb-3">
            <div class="mdc-layout-grid__inner">
                <!--đối tác quảng cáo-->
                <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                    <app-autocomplete [dataSource]="listAdsPartners" [(ngModel)]="model.adsPartnerId" isShowAll="true"
                        displayField="name" selectField="id" placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.SELECT_PARTNER_ADS | translate }}"></app-autocomplete>
                </div>
                <!-- tiêu đề -->
                <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                    <mat-form-field class="sbg-full-width">
                        <input autocomplete="off" matInput type="text" placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE_ADS | translate }}"
                            [formControl]="formGroup.controls.title" [(ngModel)]="model.title" name="title">
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE_ADS | translate"
                        [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                </div>
            </div>
            <div class="mdc-layout-grid__inner" style="display:block">
                <button mat-raised-button color="primary" (click)="onSubmit()" class="text-uppercase mb-4"> {{
                    translateKey.ADVERTISING_CONFIG_MANAGER.BTN_SEARCH | translate }}</button>
                <table mat-table [dataSource]="dataSource" class="mat-table mat-elevation-z2">

                    <!-- STT Column -->
                    <ng-container matColumnDef="STT">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px; text-align: center;">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STT | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                            {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                    </ng-container>

                    <!-- Tên đối tác-->
                    <ng-container matColumnDef="NAME_PARTNER">
                        <th mat-header-cell *matHeaderCellDef style="width: auto" class="sbg-header pr-4">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_NAME_PARTNER | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="text-align: left;" class="pr-4">
                            {{e.adsPartnerName}}
                        </td>
                    </ng-container>

                    <!-- tên quảng cáo -->
                    <ng-container matColumnDef="TITLE">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header pr-4" style="width: 280px">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TITLE_ADVERTISING | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="text-align: left;" class="pr-4">
                            {{e.title}}
                        </td>
                    </ng-container>
                  
                    <!-- loại quảng cáo -->
                    <ng-container matColumnDef="FORMAT_ADVERTISING">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header pr-4" style="width: 150px">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_FORMAT_ADVERTISING | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="text-align: left;" class="pr-4">
                            {{e.adsFormatTitle}}
                        </td>
                    </ng-container>

                    <!-- Action -->
                    <ng-container matColumnDef="ACTIONS">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:150px !important;padding-right: 0px !important;">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                        <td mat-cell *matCellDef="let e" style="text-align: center; width:150px !important;padding-right: 0px !important;">
                            <i (click)="onAccept(e)" class="material-icons cursor-pointer" matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.SELECT_ADS| translate }}">
                                check_circle_outline
                            </i>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['STT', 'NAME_PARTNER', 'TITLE', 'FORMAT_ADVERTISING', 'ACTIONS']; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row;let i = index; columns: ['STT', 'NAME_PARTNER', 'TITLE', 'FORMAT_ADVERTISING', 'ACTIONS'];"
                         class="element-row"></tr>
                </table>
                <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length" [pageSize]="pagination.pageSize"
                    [pageSizeOptions]="pagination.pageSizeOptions" (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
                </app-pagination>
            </div>
        </div>
    </div>
    <div fxLayout="row" class="sbg-popup-footer" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <button mat-raised-button (click)="onClose()" class="text-uppercase">
            {{translateKey.ADVERTISING_CONFIG_MANAGER.BTN_CLOSE | translate }}</button>
    </div>
</div>