
.groupSelect {
  width: 80px;
}

.inputNumber {
  width: 8%;
}

.showHome {
  margin-top: 20px
}

.listGroup {
  margin-top: 29px;
}

.sbg-popup-body {
  padding: 0 20px;
}

.headerLable {
  font-size: 1.2em;
  margin-bottom: 12px;
}

.highlight{
  background: #f5f5f5;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

a {
  text-decoration: underline;
  color: #0062cc;
  cursor: pointer;
}