<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/"> <span> {{ translateKey.SHARE.HOME_PAGE | translate }}</span></a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route"> {{ translateKey.MATCH_LIST.PAGE_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.MATCH_LIST.PAGE_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-4">
                <div class="mdc-layout-grid__inner">
                    <!--giải đấu auto-->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                        <app-autocomplete [dataSource]="competitions" [(ngModel)]="modelSearch.soccerCompetitionId"
                            isShowAll="true" displayField="title" selectField="id"
                            (selectionChange)="onChangeCompetition(modelSearch.soccerCompetitionId)"
                            placeholder="{{ translateKey.MATCH_LIST.LABLE_COMPETITION_NAME | translate }}">
                        </app-autocomplete>
                    </div>

                    <!--round đấu-->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.MATCH_LIST.LABLE_ROUND_NAME | translate }}"
                                [(value)]="modelSearch.soccerRoundId" [(ngModel)]="modelSearch.soccerRoundId"
                                name="round">
                                <mat-option *ngFor="let com of rounds" [value]="com.id">
                                    {{com.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--status-->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.MATCH_LIST.LABLE_STATUS | translate }}"
                                [(value)]="modelSearch.soccerMatchStatus" [(ngModel)]="modelSearch.soccerMatchStatus"
                                name="status">
                                <mat-option value="" selected>{{ translateKey.SHARE.SELECT_ALL | translate }}
                                </mat-option>
                                <mat-option *ngFor="let com of status" [value]="com.value">
                                    {{com.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!--tiêu đề-->
                    <div
                        class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text"
                                placeholder="{{ translateKey.MATCH_LIST.LABLE_TITLE | translate }}"
                                [(ngModel)]="modelSearch.title" name="title" [formControl]="formGroup.controls.title">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.MATCH_LIST.LABLE_TITLE | translate"
                            [control]="formGroup.controls.title"></app-show-errors>
                    </div>

                    <!--date start-->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="modelSearch.dateStartAt"
                            placeholder="{{ translateKey.MATCH_LIST.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.dateStartAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.MATCH_LIST.LABLE_DATE_START | translate"
                            [errorMessage]="error.dateStartAt" [control]="formGroup.controls.dateStartAt">
                        </app-show-errors>
                    </div>

                </div>
                <div
                    class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
                    <button *ngIf="permissionAction.MATCH_VIEW_LIST" mat-raised-button color="primary"
                        (click)="onSearch()" class="text-uppercase"> {{
                        translateKey.MATCH_LIST.BTN_SEARCH | translate }}</button>
                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div class="right-line">
                        <div *ngIf="permissionAction.MATCH_ADD" (click)="onCreateMatch()">
                            <i class="material-icons">add</i> <span class="align-r-1"> {{
                                translateKey.MATCH_LIST.LABLE_ADD_NEW_MATCH | translate }} </span>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource" class="sbg-table" matSort
                    (matSortChange)="sortData($event)" [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                    matSortDisableClear>

                        <!-- STT Column -->
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef
                                class="sbg-header text-center table-header-column-1 pl-0">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_STT | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;"
                                class="text-center">
                                {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                        </ng-container>

                        <!-- Giải đấu -->
                        <ng-container matColumnDef="COMPETITION">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" 
                                style="width:auto;min-width: 160px">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_COMPETITION | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.soccerCompetitionTitle}}
                            </td>
                        </ng-container>

                        <!-- Round-->
                        <ng-container matColumnDef="ROUND_NAME">
                            <th mat-header-cell *matHeaderCellDef style="width: 200px;min-width: 150px"
                                class="sbg-header">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_ROUND | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left">
                                {{e.soccerRoundTitle}}
                            </td>
                        </ng-container>

                        <!-- Match -->
                        <ng-container matColumnDef="MATCH">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" mat-sort-header="Title"
                                style="width:200px;min-width: 100px">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_MATCH | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left">
                                {{e.title}} </td>
                        </ng-container>

                        <!-- thời gian -->
                        <ng-container matColumnDef="TIME_MATCH">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header"
                                style="width:115px;min-width:115px">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_TIME_MATCH | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.startAt}} </td>
                        </ng-container>

                        <!-- SCORE -->
                        <ng-container matColumnDef="SCORE">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header text-center"
                                style="width: 120px;min-width: 90px;">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_SCORE | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e">
                                <div class="scoreAg" *ngIf="e.showAG"
                                    matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_SCORE_AG | translate }}">
                                    <span> {{e.scoreAGTeamA}} </span> -
                                    <span>{{e.scoreAGTeamB}}</span></div>
                                <div *ngIf="e.showScore && !e.showPen">
                                    <span> {{e.scoreTeamA}} - {{e.scoreTeamB}}</span></div>
                                <div *ngIf="e.showPen && e.showScore">
                                    <span>{{e.scoreTeamA}}</span> <span
                                        matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_SCORE_PENALTY | translate }}">({{e.penTeamA}})</span>
                                    -
                                    <span> {{e.scoreTeamB}}</span> <span
                                        matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_SCORE_PENALTY | translate }}">({{e.penTeamB}})
                                    </span></div>
                                <div *ngIf="e.showEmpty">
                                    <span> ... - ...</span></div>
                            </td>
                        </ng-container>

                        <!-- trạng thái -->
                        <ng-container matColumnDef="STATUS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header"
                                style="width: 100px;min-width: 90px;">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_STATUS | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.statusTitle}} </td>
                        </ng-container>

                        <!-- thao tác -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header text-left "
                                style="width:70px;min-width:80px !important">
                                {{ translateKey.MATCH_LIST.TABLE_HEADER_ACTION | translate }} </th>
                            <td mat-cell *matCellDef="let e">
                                <i *ngIf="onShowActtionItem(e,'editMatch')" class="material-icons "
                                    matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_UPDATE_MATCH | translate }}"
                                    style="cursor: pointer" (click)="onEditMatch(e.id)">edit</i>
                                <i *ngIf="onShowActtionItem(e,'addStream')" class="material-icons "
                                    matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_CREATE_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onAddStream(e.id)">video_call</i>
                                <i *ngIf="onShowActtionItem(e,'updateStream')" class="material-icons"
                                    matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_EDIT_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onUpdateStream(e.soccerMatchStreamId)">videocam</i>
                                <i *ngIf="onShowActtionItem(e,'deleteMatch')" class="material-icons "
                                    matTooltip="{{ translateKey.MATCH_LIST.TOOLTIP_DELETE_MATCH | translate }}"
                                    style="cursor: pointer" (click)="onDeleteMatch(e)">delete</i>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['STT', 'COMPETITION', 'ROUND_NAME', 'MATCH','TIME_MATCH','SCORE','STATUS','ACTIONS' ]; sticky: true">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['STT', 'COMPETITION', 'ROUND_NAME', 'MATCH','TIME_MATCH','SCORE','STATUS','ACTIONS' ];"
                            class="element-row"></tr>
                    </table>

                    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length"
                        [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
                        (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
                    </app-pagination>
                </div>
            </div>

        </div>
    </div>

</app-master-page>