
.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid e0e0e0;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: unset;
}

.mdc-layout-grid {
  --mdc-layout-grid-margin-desktop: 0px;
  --mdc-layout-grid-gutter-desktop: 0px  24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}

.scoreAg{
  font-size: 0.8em;
  padding-bottom: 5px;
}

.sbg-form-body {
  padding: 20px 20px 0px;
}
