<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="acitve-route">{{ translateKey.STAGE_MANAGER.PAGE_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.STAGE_MANAGER.FORM_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-4">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-4" style="min-width:230px">
                        <app-autocomplete [dataSource]="competitionsInfo" [(ngModel)]="competitionsId"
                            displayField="title" selectField="id" (selectionChange)="onCompetitionSelectionChange()"
                            placeholder="{{ translateKey.STAGE_MANAGER.SELECT_TOURNAMENTS | translate }}">
                        </app-autocomplete>
                    </div>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="mat-table mat-elevation-z2 table-hover">
                <!-- STT Column -->
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header text-center table-header-column-1 pl-0">
                        {{ translateKey.STAGE_MANAGER.TABLE_HEADER_STT | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center pl-0">
                        {{i + 1}}
                    </td>
                </ng-container>

                <!-- Name stage -->
                <ng-container matColumnDef="STAGE_NAME">
                    <th mat-header-cell *matHeaderCellDef style="width: auto;" class="sbg-header">
                        {{ translateKey.STAGE_MANAGER.TABLE_HEADER_STAGE_NAME | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e" style="text-align: left;">
                        {{e.title}}
                    </td>
                </ng-container>

                <!-- group -->
                <ng-container matColumnDef="GROUP">
                    <th mat-header-cell *matHeaderCellDef style="width: 300px" class="sbg-header">
                        {{ translateKey.STAGE_MANAGER.TABLE_HEADER_GROUP | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e" style="text-align: left;">
                        {{e.groupInfoDisplays}}
                    </td>
                </ng-container>

                <!-- Thao tác -->
                <ng-container matColumnDef="ACTIONS">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header table-header-column-3">
                        {{ translateKey.STAGE_MANAGER.TABLE_HEADER_ACTIONS | translate }}</th>
                    <td mat-cell *matCellDef="let e">
                        <i class="material-icons mr-1"
                            matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_ACTION_MANAGER_GROUP | translate }}"
                            *ngIf="onShowActtionItem(e,'manage')" style="cursor: pointer;"
                            (click)="onShowMagagerStanding(e)">
                            group_work
                        </i>
                        <i class="material-icons m-1"
                            matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_ACTION_UPDATE_GROUP | translate }}"
                            *ngIf="onShowActtionItem(e,'edit')" style="cursor: pointer;" (click)="onUpdateStanding(e)">
                            edit
                        </i>
                        <i class="material-icons m-1"
                            matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_ACTION_CREATE_GROUP | translate }}"
                            *ngIf="onShowActtionItem(e,'create')" style="cursor: pointer;"
                            (click)="onCreateStanding(e.id)">
                            add_circle_outline
                        </i>
                        <i class="material-icons m-1"
                            matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_ACTION_DELETE_GROUP | translate }}"
                            *ngIf="onShowActtionItem(e,'delete')" style="cursor: pointer;"
                            (click)="onDeleteStanding(e.id)">
                            delete
                        </i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['STT', 'STAGE_NAME', 'GROUP', 'ACTIONS' ]; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['STT', 'STAGE_NAME', 'GROUP', 'ACTIONS' ];"
                    class="element-row"></tr>
            </table>
        </div>
    </div>
</app-master-page>