td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
    padding-right: 0px !important;
}

.sbg-full-width {
    min-width: 250px;
}

.sbg-form-body {
    padding: 20px 20px 40px;
}
