<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <span>{{ translateKey.SHARE.HOME_PAGE | translate }}</span>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="">{{ translateKey.VALIDATE_SERVER.CATEGORIES | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="">{{ translateKey.VALIDATE_SERVER.PAGE_TITLE | translate }}</a>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.VALIDATE_SERVER.FORM_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="sbgList">
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width">
                        <input matInput [(ngModel)]="model.userName" (focus)="removeValidateServer('userName')"
                            placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_USER_NAME | translate }}" [formControl]="formGroup.controls.userName" />
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.VALIDATE_SERVER.LABLE_USER_NAME | translate"
                        [errorMessage]="error.userName" [control]="formGroup.controls.userName"></app-show-errors>
                </div>
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_PASSWORD | translate }}"
                            (focus)="removeValidateServer('password')" type="password" [(ngModel)]="model.password"
                            [formControl]="formGroup.controls.password" />
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.VALIDATE_SERVER.LABLE_PASSWORD | translate"
                        [errorMessage]="error.password" [control]="formGroup.controls.password"></app-show-errors>
                </div>
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_FULL_NAME | translate }}"
                            (focus)="removeValidateServer('fullName')" [(ngModel)]="model.fullName" [formControl]="formGroup.controls.fullName" />
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.VALIDATE_SERVER.LABLE_FULL_NAME | translate" [control]="formGroup.controls.fullName"></app-show-errors>
                </div>
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width sbg-input-time">
                        <input matInput [min]="minDate" [(ngModel)]="model.dateStart" [max]="maxDate" [matDatepicker]="pickerStart"
                            placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_DATE_START | translate }}" (focus)="removeValidateServer('dateStart')"
                            [formControl]="formGroup.controls.dateStart">
                        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.VALIDATE_SERVER.LABLE_DATE_START | translate"
                        [errorMessage]="error.dateStart" [control]="formGroup.controls.dateStart"></app-show-errors>
                </div>
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width sbg-input-time">
                        <input matInput [min]="minDate" [(ngModel)]="model.dateEnd" [max]="maxDate" [matDatepicker]="pickerEnd"
                            placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_DATE_END | translate }}" (focus)="removeValidateServer('dateEnd')"
                            [formControl]="formGroup.controls.dateEnd">
                        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                        <mat-datepicker #pickerEnd></mat-datepicker>
                    </mat-form-field>
                    <app-show-errors [displayName]="translateKey.VALIDATE_SERVER.LABLE_DATE_END | translate"
                        [errorMessage]="error.dateEnd" [control]="formGroup.controls.dateEnd"></app-show-errors>
                </div>
                <div class="sbgListItem">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_SERVER.LABLE_AGE | translate }}" (focus)="removeValidateServer('age')"
                            [(ngModel)]="model.age" [formControl]="formGroup.controls.age" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_SERVER.LABLE_AGE | translate" [errorMessage]="error.age"
                        [control]="formGroup.controls.age"></app-show-errors>
                </div>
            </div>
            <div class="sbg-form-footer" fxLayoutGap="10px">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
                    {{ translateKey.VALIDATE_SERVER.BTN_CREATE | translate }}
                </button>
                <button mat-raised-button color="primary" (click)="onClear()" class="ml-0">
                    {{ translateKey.VALIDATE_SERVER.BTN_CANCLE | translate }}
                </button>
            </div>
        </div>
    </div>
</app-master-page>