.mat-select-arrow-wrapper{
    float: right;
    margin-top:-14px;
    cursor: pointer !important;
}

.mat-select-arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    margin: 0 4px;
}

.mat-form-field-invalid {
    .mat-select-arrow-wrapper {
        .mat-select-arrow {
            color: #f44336;
            cursor: pointer !important;
        }
        cursor: pointer !important;
    }
}

.wrap-string {
    padding-right: 10px !important;
    width: 95%;
    overflow: hidden;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}
