<mat-form-field class="sbg-full-width" (click)="onClick()">
    <input autocomplete="off" type="text" *ngIf="formControl===null||formControl===undefined" (focus)="onFocus($event)"
        [required]="required" matInput (onBlur)="onBlur()" (keydown)="onChangeText()" 
        class="wrap-string" name="autocompFirst"
        (keyup)="onChangeText()" [matAutocomplete]="auto" [placeholder]="placeholder" [(ngModel)]="model" />
    <input autocomplete="off" type="text" *ngIf="formControl!==null&&formControl!==undefined"
    class="wrap-string" name="autocompSecond"
        [formControl]="formControl" (focus)="onFocus($event)" [required]="required" matInput (onBlur)="onBlur()"
        (keydown)="onChangeText()" (keyup)="onChangeText()" [matAutocomplete]="auto"
        [placeholder]="placeholder" [(ngModel)]="model" />
    <div class="mat-select-arrow-wrapper">
        <div class="mat-select-arrow" ></div>
    </div>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="display">
        <mat-option *ngFor="let option of data" [value]="option" (onSelectionChange)="onSelectionChange($event,option)">
            <div class="wrap-string">{{option.title}}</div>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
