<div class="container sbg-popup" [hidden]="hidePoup">
    <div fxLayout="row" class="mb-3 sbg-popup-title" fxLayoutGap="20px" fxLayoutGap.xs="0" fxLayoutAlign="right">
        <label mat-dialog-title style="width: 99%" class="text-uppercase">
            {{translateKey.STAGE_MANAGER.POPUP_TITLE_UPDATE_GROUP | translate: headerPopup}}
        </label>
        <i class="material-icons" style="cursor: pointer;" (click)="onClose()" matDialogClose>close </i>
    </div>
    <div class="row sbg-popup-body">
        <div fxLayoutGap="8px" style="display:inline-flex">
            <app-autocomplete [dataSource]="competitionTeamList" [(ngModel)]="selectedTeam" displayField="name"
                selectField="id" (selectionChange)="onSelected($event)" placeholder="{{ translateKey.STAGE_MANAGER.POPUP_SELECT_CHOOSE_TEAM | translate }}"></app-autocomplete>
            <button mat-raised-button (click)="onAdd()" color="primary" class="text-uppercase button" [disabled]="btnAddDisable">
                {{translateKey.STAGE_MANAGER.POPUP_BTN_ADD_TEAM | translate}}</button>
            <button mat-raised-button (click)="onAddAll()" color="primary" class="text-uppercase button" [disabled]="btnAddAllDisable">
                {{translateKey.STAGE_MANAGER.POPUP_BTN_ADD_ALL_TEAM | translate}}</button>
        </div>
        <table mat-table [dataSource]="dataSource" class="sbg-table">

            <!-- STT Column -->
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 60px;text-align: center">
                    {{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_STT | translate }}
                </th>
                <td mat-cell *matCellDef="let element; let i = index" style="width: 60px" class="text-center">
                    {{i + 1}}
                </td>
            </ng-container>

            <!-- team -->
            <ng-container matColumnDef="TEAM">
                <th mat-header-cell *matHeaderCellDef style="width: 30%;" class="sbg-header">
                    {{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_NAME_TEAM | translate }}
                </th>
                <td mat-cell *matCellDef="let e" style="width: 30%; text-align: left;">
                    {{e.name}}
                </td>
            </ng-container>

            <!-- Name stage -->
            <ng-container matColumnDef="STAGE_NAME">
                <th mat-header-cell *matHeaderCellDef style="width: 30%;" class="sbg-header">
                    {{ translateKey.STAGE_MANAGER.TABLE_HEADER_STAGE_NAME | translate }}
                </th>
                <td mat-cell *matCellDef="let e" style="width: 30%; text-align: left;">
                    {{headerPopup}}
                </td>
            </ng-container>

            <!-- group -->
            <ng-container matColumnDef="GROUP">
                <th mat-header-cell *matHeaderCellDef style="" class="sbg-header">
                    {{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_GROUP | translate }}
                </th>
                <td mat-cell *matCellDef="let groupInfo" style="text-align: left;">
                    <mat-form-field class="select groupSelect">
                        <mat-select placeholder="{{ translateKey.STAGE_MANAGER.POPUP_SELECT_CHOOSE_GROUP | translate }}"
                            [(value)]="groupInfo.group">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let group of getOptionGroup()" [value]="group">
                                {{group}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
            </ng-container>

            <!-- Thao tác -->
            <ng-container matColumnDef="ACTIONS">
                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="text-align: center; min-width: 90px;">
                    {{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_ACTIONS | translate }}</th>
                <td mat-cell *matCellDef="let e" class="text-center">
                    <i class="material-icons" matTooltip="{{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_OUT_STAGE | translate }}"
                        style="cursor: pointer;" (click)="onOutStage(e)">
                        delete
                    </i>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['STT', 'TEAM' , 'STAGE_NAME', 'GROUP', 'ACTIONS' ]; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: ['STT', 'TEAM' , 'STAGE_NAME', 'GROUP', 'ACTIONS' ];" class="element-row"></tr>
        </table>
    </div>
    <div fxLayout="row" class="sbg-popup-footer" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase" [disabled]="btnDisable">
            {{translateKey.STAGE_MANAGER.BTN_UPDATE | translate}}</button>
        <button mat-raised-button (click)="onClose()" class="text-uppercase">
            {{translateKey.STAGE_MANAGER.BTN_CLOSE | translate }}</button>
    </div>
</div>