<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/"> <span> {{ translateKey.SHARE.HOME_PAGE | translate }}</span></a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route"> {{ translateKey.ROUND.NAV | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.ROUND.PAGE_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-3">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="competitions" [(ngModel)]="model.soccerCompetitionId"
                            displayField="title" selectField="id" (selectionChange)="onChangeCompetition()"
                            placeholder="{{ translateKey.ROUND.PLACE_HOLDER_COMPETITION | translate }}">
                        </app-autocomplete>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.ROUND.PLACE_HOLDER_STAGE | translate }}"
                                [(value)]="model.soccerCompetitionStageId" [(ngModel)]="model.soccerCompetitionStageId"
                                name="soccerStage" required>
                                <mat-option value="" selected>{{ translateKey.ROUND.SELECT_ALL | translate }}
                                </mat-option>
                                <mat-option *ngFor="let com of stages" [value]="com.id">
                                    {{com.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text"
                                placeholder="{{ translateKey.ROUND.INPUT_PLACE_HOLDER_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title" name="title">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ROUND.INPUT_PLACE_HOLDER_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div>
                        <button *ngIf="permissionAction.ROUND_SEARCH" mat-raised-button color="primary"
                            (click)="onSubmit()" class="text-uppercase">
                            {{ translateKey.ROUND.BTN_SEARCH | translate }}</button>
                    </div>
                    <div class="right-line">
                        <div *ngIf="permissionAction.ROUND_ADD_ROUND" (click)="onCreateRound()">
                            <i class="material-icons">add</i> <span> {{ translateKey.ROUND.BTN_ADD_ROUND | translate }}
                            </span>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)"
                    [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                    matSortDisableClear class="mat-table mat-elevation-z2">

                        <!-- STT Column -->
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef
                                class="sbg-header text-center table-header-column-1 pl-0">
                                {{ translateKey.ROUND.TABLE_HEADER_STT | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;"
                                class="text-center">
                                {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                        </ng-container>

                        <!-- Round-->
                        <ng-container matColumnDef="ROUND_NAME">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="Title" style="width: auto;" class="sbg-header">
                                {{ translateKey.ROUND.TABLE_HEADER_ROUND | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">{{e.title}}
                            </td>
                        </ng-container>

                        <!-- Giải đấu -->
                        <ng-container matColumnDef="COMPETITION">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width:250px">
                                {{ translateKey.ROUND.TABLE_HEADER_COMPETITION | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.soccerCompetitionName}}
                            </td>
                        </ng-container>

                        <!-- Stage -->
                        <ng-container matColumnDef="STAGE">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width:120px">
                                {{ translateKey.ROUND.TABLE_HEADER_STAGE | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.soccerCompetitionStageName}} </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header text-left table-header-column-3">
                                {{ translateKey.ROUND.TABLE_HEADER_ACTION | translate }} </th>
                            <td mat-cell *matCellDef="let e">
                                <i *ngIf="onShowActtionItem(e,'addSoccer')" class="material-icons mr-1"
                                    matTooltip="{{ translateKey.ROUND.TOOLTIP_ADD_SOCCER | translate }}"
                                    style="cursor: pointer" (click)="onAddSoccerMatch(e)">add_circle_outline</i>
                                <i *ngIf="onShowActtionItem(e,'editRound')" class="material-icons m-1"
                                    matTooltip="{{ translateKey.ROUND.TOOLTIP_EDIT | translate }}"
                                    style="cursor: pointer" (click)="onEditRound(e.id)">edit</i>
                                <i *ngIf="onShowActtionItem(e,'deleteRound')" class="material-icons m-1"
                                    matTooltip="{{ translateKey.ROUND.TOOLTIP_DELETE | translate }}"
                                    style="cursor: pointer" (click)="onDelete(e)">delete</i>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['STT', 'ROUND_NAME', 'COMPETITION', 'STAGE','ACTIONS' ]; sticky: true">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['STT', 'ROUND_NAME', 'COMPETITION', 'STAGE','ACTIONS' ];"
                            class="element-row"></tr>
                    </table>
                    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length"
                        [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
                        (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-master-page>