table {
  width: 100%;
}

.scroll-container {
  height: 100%;
  overflow: auto;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid e0e0e0;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: unset;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-text{
  min-width: 300px !important;
}

.padding-actions{
  width: 150px !important;
  min-width: 150px !important;
  max-width: 300px !important;
}

.mdc-layout-grid {
  --mdc-layout-grid-margin-desktop: 0px;
  --mdc-layout-grid-gutter-desktop: 0px  24px;
  --mdc-layout-grid-column-width-desktop: 72px;
  --mdc-layout-grid-margin-tablet: 16px;
  --mdc-layout-grid-gutter-tablet: 16px;
  --mdc-layout-grid-column-width-tablet: 72px;
  --mdc-layout-grid-margin-phone: 16px;
  --mdc-layout-grid-gutter-phone: 16px;
  --mdc-layout-grid-column-width-phone: 72px;
}

.sbg-full-width {
  min-width: 180px;
}

.sbg-form-body {
  padding: 20px 20px 0px;
}
