<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.MATCH_MANAGER.PAGE_LIST_TITLE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <div class="active-route" *ngIf="show.Create">{{ translateKey.MATCH_MANAGER.PAGE_CREATE_TITLE | translate }}
        </div>
        <div class="active-route" *ngIf="!show.Create">{{ translateKey.MATCH_MANAGER.PAGE_UPDATE_TITLE | translate }}
        </div>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            <div *ngIf="show.Create">{{ translateKey.MATCH_MANAGER.PAGE_CREATE_TITLE | translate }}</div>
            <div *ngIf="!show.Create"> {{ translateKey.MATCH_MANAGER.PAGE_UPDATE_TITLE | translate }}</div>
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input autocomplete="off" matInput
                                placeholder="{{ translateKey.MATCH_MANAGER.LABLE_TITLE | translate }}" required
                                (focus)="removeValidateServer('title')" type="text" [(ngModel)]="model.title"
                                [formControl]="formGroup.controls.title" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.MATCH_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width" *ngIf="!show.Create">
                            <input readonly autocomplete="off" matInput required
                                placeholder="{{ translateKey.MATCH_MANAGER.SELECT_COMPETITIONS | translate }}"
                                *ngIf="!show.Create" [(value)]="model.soccerCompetitionTitle"
                                [(ngModel)]="model.soccerCompetitionId"
                                [formControl]="formGroup.controls.soccerCompetitionId">
                        </mat-form-field>
                        <div *ngIf="show.Create">
                            <app-autocomplete [dataSource]="listCompetiton" [(ngModel)]="model.soccerCompetitionId"
                                displayField="title" required="true" selectField="id"
                                (selectionChange)="onSearchRound($event)"
                                [formControl]="formGroup.controls.soccerCompetitionId"
                                placeholder="{{ translateKey.MATCH_MANAGER.SELECT_COMPETITIONS | translate }}">
                            </app-autocomplete>
                            <app-show-errors
                                [displayName]="translateKey.MATCH_MANAGER.SELECT_COMPETITIONS_PLACEHOLDER | translate"
                                [errorMessage]="error.soccerCompetitionId"
                                [control]="formGroup.controls.soccerCompetitionId"></app-show-errors>
                        </div>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input readonly autocomplete="off" matInput required
                                placeholder="{{ translateKey.MATCH_MANAGER.SELECT_ROUNDS | translate }}"
                                *ngIf="!show.Create" [(value)]="model.soccerRoundTitle"
                                [(ngModel)]="model.soccerRoundId" [formControl]="formGroup.controls.rounds">
                            <mat-select placeholder="{{ translateKey.MATCH_MANAGER.SELECT_ROUNDS | translate }}"
                                (focus)="removeValidateServer('rounds')" required *ngIf="show.Create"
                                [formControl]="formGroup.controls.rounds" [(ngModel)]="model.soccerRoundId"
                                (selectionChange)="onSearchTeam($event.value)">
                                <mat-option *ngFor="let round of listRound" [value]="round.id">
                                    {{round.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.MATCH_MANAGER.SELECT_ROUNDS_PLACEHOLDER | translate"
                            [errorMessage]="error.soccerRoundId" [control]="formGroup.controls.rounds">
                        </app-show-errors>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="listTeamA" [(ngModel)]="soccerTeamIdTeamA" displayField="name"
                            required="true" [formControl]="formGroup.controls.teamA" selectField="soccerTeamId"
                            (selectionChange)="onSelectTeam(true)"
                            placeholder="{{ translateKey.MATCH_MANAGER.SELECT_TEAM_A | translate }}">
                        </app-autocomplete>
                        <app-show-errors
                            [displayName]="translateKey.MATCH_MANAGER.SELECT_TEAM_A_PLACEHOLDER | translate"
                            [errorMessage]="error.teamA" [control]="formGroup.controls.teamA"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="listTeamB" [(ngModel)]="soccerTeamIdTeamB"
                            [formControl]="formGroup.controls.teamB" displayField="name" required="true"
                            selectField="soccerTeamId" (selectionChange)="onSelectTeam(false)"
                            placeholder="{{ translateKey.MATCH_MANAGER.SELECT_TEAM_B | translate }}"></app-autocomplete>
                        <app-show-errors
                            [displayName]="translateKey.MATCH_MANAGER.SELECT_TEAM_B_PLACEHOLDER | translate"
                            [errorMessage]="error.teamB" [control]="formGroup.controls.teamB"></app-show-errors>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input autocomplete="off" matInput
                                placeholder="{{ translateKey.MATCH_MANAGER.LABLE_PLACE | translate }}"
                                [formControl]="formGroup.controls.place" type="place" [(ngModel)]="model.place" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.MATCH_MANAGER.LABLE_PLACE | translate"
                            [errorMessage]="error.place" [control]="formGroup.controls.place"></app-show-errors>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.startAt" (focus)="removeValidateServer('startAt')" required
                            placeholder="{{ translateKey.MATCH_MANAGER.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.startAt" [settings]="optionDateFull">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.MATCH_MANAGER.LABLE_DATE_START | translate"
                            [errorMessage]="error.startAt" [control]="formGroup.controls.startAt">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.finishedAt" (focus)="removeValidateServer('finishedAt')"
                            placeholder="{{ translateKey.MATCH_MANAGER.LABLE_DATE_END | translate }}"
                            [formControl]="formGroup.controls.finishedAt" [settings]="optionDateFull">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.MATCH_MANAGER.LABLE_DATE_END | translate"
                            [errorMessage]="error.finishedAt" [control]="formGroup.controls.finishedAt">
                        </app-show-errors>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.MATCH_MANAGER.SELECT_STATUS | translate }}"
                                (focus)="removeValidateServer('status')" [formControl]="formGroup.controls.status"
                                [(ngModel)]="model.status" required>
                                <mat-option *ngFor="let status of listStatus" [value]="status.value">
                                    {{status.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.MATCH_MANAGER.SELECT_STATUS_PLACEHOLDER | translate"
                            [errorMessage]="error.status" [control]="formGroup.controls.status"></app-show-errors>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div
                        class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone mt-4 mb-2">
                        <div style="font-size: 1.1em;">{{
                            translateKey.MATCH_MANAGER.TABLE_HEADER_RESULT_MATCH |
                            translate }}</div>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone mb-2">
                        <mat-form-field>
                            <mat-select placeholder="{{ translateKey.MATCH_MANAGER.SELECT_WINNER_TEAM | translate }}"
                                [(ngModel)]="model.winner">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let winnerTeam of listWinnerTeam" [value]="winnerTeam.value">
                                    {{winnerTeam.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <table class="table-hover mat-table mat-elevation-z2" role="grid">
                        <thead>
                            <tr class="mat-header-row" role="row">
                                <th class="mat-header-cell resultColumn sbg-header" role="columnheader">
                                    {{ translateKey.MATCH_MANAGER.TABLE_HEADER_RESULT | translate }}
                                </th>
                                <th class="mat-header-cell inputNumber sbg-header" role="columnheader">
                                    {{ translateKey.MATCH_MANAGER.TABLE_HEADER_TEAM_A | translate }}
                                </th>
                                <th class="mat-header-cell inputNumber sbg-header" role="columnheader">
                                    {{ translateKey.MATCH_MANAGER.TABLE_HEADER_TEAM_B | translate }}
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr class="element-row mat-row" role="row">
                                <td class="resultColumn mat-cell">
                                    {{ translateKey.MATCH_MANAGER.TABLE_COLUMN_FULLTIME | translate }}
                                </td>
                                <td class="inputNumber mat-cell">
                                    <input autocomplete="off" matInput placeholder="____" class="input"
                                        (focus)="removeValidateServer('score_fullTime_teamA')"
                                        [(ngModel)]="model.score.fullTime.teamA" [appNumberOnly]="true" appMax="1000"
                                        appMin="0" maxlength="3"
                                        [formControl]="formGroup.controls.score_fullTime_teamA">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_FULLTIME | translate"
                                        [errorMessage]="error.score_fullTime_teamA"
                                        [control]="formGroup.controls.score_fullTime_teamA"></app-show-errors>
                                </td>
                                <td class="inputNumber mat-cell ">
                                    <input autocomplete="off" matInput placeholder="____" class="input"
                                        (focus)="removeValidateServer('score_fullTime_teamB')"
                                        [(ngModel)]="model.score.fullTime.teamB"
                                        [formControl]="formGroup.controls.score_fullTime_teamB" [appNumberOnly]="true"
                                        appMax="1000" appMin="0" maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_FULLTIME | translate"
                                        [errorMessage]="error.score_fullTime_teamB"
                                        [control]="formGroup.controls.score_fullTime_teamB"></app-show-errors>
                                </td>

                            </tr>
                            <tr class="element-row mat-row">
                                <td class="resultColumn mat-cell">
                                    {{ translateKey.MATCH_MANAGER.TABLE_COLUMN_HALFTIME | translate }}
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_halftime_teamA')"
                                        [(ngModel)]="model.score.halfTime.teamA" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_halftime_teamA" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_HALFTIME | translate"
                                        [errorMessage]="error.score_halftime_teamA"
                                        [control]="formGroup.controls.score_halftime_teamA"></app-show-errors>
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_halftime_teamB')"
                                        [(ngModel)]="model.score.halfTime.teamB" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_halftime_teamB" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_HALFTIME | translate"
                                        [errorMessage]="error.score_halftime_teamB"
                                        [control]="formGroup.controls.score_halftime_teamB"></app-show-errors>
                                </td>
                            </tr>
                            <tr class="element-row mat-row">
                                <td class="resultColumn mat-cell">
                                    {{ translateKey.MATCH_MANAGER.TABLE_COLUMN_EXTRATIME | translate }}
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_extraTime_teamA')"
                                        [(ngModel)]="model.score.extraTime.teamA" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_extraTime_teamA" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_EXTRATIME | translate"
                                        [errorMessage]="error.score_extraTime_teamA"
                                        [control]="formGroup.controls.score_extraTime_teamA"></app-show-errors>
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_extraTime_teamB')"
                                        [(ngModel)]="model.score.extraTime.teamB" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_extraTime_teamB" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_EXTRATIME | translate"
                                        [errorMessage]="error.score_extraTime_teamB"
                                        [control]="formGroup.controls.score_extraTime_teamB"></app-show-errors>
                                </td>
                            </tr>
                            <tr class="element-row mat-row">
                                <td class="resultColumn mat-cell">
                                    {{ translateKey.MATCH_MANAGER.TABLE_COLUMN_PENALTY | translate }}
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_penalty_teamA')"
                                        [(ngModel)]="model.score.penalty.teamA" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_penalty_teamA" appMin="0" maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_PENALTY | translate"
                                        [errorMessage]="error.score_penalty_teamA"
                                        [control]="formGroup.controls.score_penalty_teamA"></app-show-errors>
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_penalty_teamB')"
                                        [(ngModel)]="model.score.penalty.teamB" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_penalty_teamB" appMin="0" maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_PENALTY | translate"
                                        [errorMessage]="error.score_penalty_teamB"
                                        [control]="formGroup.controls.score_penalty_teamB"></app-show-errors>
                                </td>
                            </tr>
                            <tr class="element-row mat-row">
                                <td class="resultColumn mat-cell">
                                    {{ translateKey.MATCH_MANAGER.TABLE_COLUMN_AGGREGATE | translate }}
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_aggregate_teamA')"
                                        [(ngModel)]="model.score.aggregate.teamA" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_aggregate_teamA" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_AGGREGATE | translate"
                                        [errorMessage]="error.score_aggregate_teamA"
                                        [control]="formGroup.controls.score_aggregate_teamA"></app-show-errors>
                                </td>
                                <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="____"
                                        class="input" (focus)="removeValidateServer('score_aggregate_teamB')"
                                        [(ngModel)]="model.score.aggregate.teamB" [appNumberOnly]="true" appMax="1000"
                                        [formControl]="formGroup.controls.score_aggregate_teamB" appMin="0"
                                        maxlength="3">
                                    <app-show-errors
                                        [displayName]="translateKey.MATCH_MANAGER.SCORE_AGGREGATE | translate"
                                        [errorMessage]="error.score_aggregate_teamB"
                                        [control]="formGroup.controls.score_aggregate_teamB"></app-show-errors>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="sbg-form-footer">
                        <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase"
                            *ngIf="show.Create &&  this.permissionAction.CREATE_MATCH">
                            {{translateKey.MATCH_MANAGER.BTN_CREATE | translate}}</button>
                        <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase"
                            *ngIf="!show.Create &&  this.permissionAction.UPDATE_MATCH">
                            {{translateKey.MATCH_MANAGER.BTN_UPDATE | translate}}</button>
                        <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                            {{translateKey.MATCH_MANAGER.BTN_BACK | translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</app-master-page>