.mdc-layout-grid {
    --mdc-layout-grid-margin-desktop: 0px;
    --mdc-layout-grid-gutter-desktop: 24px;
    --mdc-layout-grid-column-width-desktop: 72px;
    --mdc-layout-grid-margin-tablet: 16px;
    --mdc-layout-grid-gutter-tablet: 16px;
    --mdc-layout-grid-column-width-tablet: 72px;
    --mdc-layout-grid-margin-phone: 16px;
    --mdc-layout-grid-gutter-phone: 16px;
    --mdc-layout-grid-column-width-phone: 72px;
  }

.sbg-form-footer { 
  padding: 0px;
}

table.mat-table {
  border-spacing: 0;
  width: 100%;
  min-width: 500px;
}

.sbg-form-body {
  padding: 20px 20px 40px;
}

.highlight{
  background: #f5f5f5;
}

.material-icons {
  cursor: pointer
}

.disable {
  color: #bebebe;
}