<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.ADVERTISING_MANAGER.PAGE_LIST_TITLE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <div class="active-route" *ngIf="show.Create">
            {{ translateKey.ADVERTISING_MANAGER.PAGE_CREATE_TITLE | translate }}
        </div>
        <div class="active-route" *ngIf="!show.Create">
            {{ translateKey.ADVERTISING_MANAGER.PAGE_UPDATE_TITLE | translate }}
        </div>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            <div *ngIf="show.Create">{{ translateKey.ADVERTISING_MANAGER.PAGE_CREATE_TITLE | translate }}</div>
            <div *ngIf="!show.Create"> {{ translateKey.ADVERTISING_MANAGER.PAGE_UPDATE_TITLE | translate }}</div>
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- tên -->
                    <div class="mdc-layout-grid__cell--span-12-desktop
                    mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('title')" placeholder="{{ translateKey.ADVERTISING_MANAGER.LABLE_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title" required>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>

                    <!--đối tác quảng cáo-->
                    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone">
                        <app-autocomplete [dataSource]="createEditInfoModel.adsPartners" [(ngModel)]="model.adsPartnerId" required="true"
                        [formControl]="formGroup.controls.adsPartnerId" 
                            isShowAll="true" displayField="name" selectField="id" placeholder="{{ translateKey.ADVERTISING_MANAGER.SELECT_PARTNER | translate }}"></app-autocomplete>
                            <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.SELECT_PARTNER_PLACEHOLDER | translate"
                            [errorMessage]="error.adsPartnerId" [control]="formGroup.controls.adsPartnerId"></app-show-errors>
                        </div>

                    <!-- loại quảng cáo -->
                    <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.ADVERTISING_MANAGER.SELECT_TYPE | translate }}" required 
                            [formControl]="formGroup.controls.adsFormat"  [(value)]="model.adsFormat" [(ngModel)]="model.adsFormat" name="adsFormat"> 
                                <mat-option *ngFor="let adsFormat of createEditInfoModel.advertisingFormats" [value]="adsFormat.value">
                                    {{adsFormat.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.SELECT_TYPE_PLACEHOLDER | translate"
                            [errorMessage]="error.adsFormat" [control]="formGroup.controls.adsFormat"></app-show-errors>
                    </div>

                    <!-- đường dẫn đích -->
                    <div class="mdc-layout-grid__cell--span-6-desktop
                     mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('clickThrough')" placeholder="{{ translateKey.ADVERTISING_MANAGER.LABLE_CLICKTHROUGH | translate }}"
                                [formControl]="formGroup.controls.clickThrough" [(ngModel)]="model.clickThrough">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.LABLE_CLICKTHROUGH | translate"
                            [errorMessage]="error.clickThrough" [control]="formGroup.controls.clickThrough"></app-show-errors>
                    </div>

                    <!-- đường dẫn tracking -->
                    <div class="mdc-layout-grid__cell--span-6-desktop
                      mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('clickTracking')" placeholder="{{ translateKey.ADVERTISING_MANAGER.LABLE_CLICKTRACKING | translate }}"
                                [formControl]="formGroup.controls.clickTracking" [(ngModel)]="model.clickTracking">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.LABLE_CLICKTRACKING | translate"
                            [errorMessage]="error.clickTracking" [control]="formGroup.controls.clickTracking"></app-show-errors>
                    </div>

                    <!-- content -->
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea matInput placeholder="{{ translateKey.ADVERTISING_MANAGER.LABLE_CONTENT | translate }}" required
                                (focus)="removeValidateServer('content')" [(ngModel)]="model.content" [formControl]="formGroup.controls.content">
                                    </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.LABLE_CONTENT | translate"
                            [errorMessage]="error.content" [control]="formGroup.controls.content">
                        </app-show-errors>
                    </div>

                    <!-- mô tả -->
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput placeholder="{{ translateKey.ADVERTISING_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" [(ngModel)]="model.description"
                                [formControl]="formGroup.controls.description">
                                    </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                </div>
            </div>
            <div class="mdc-layout-grid" style="display:block;">
                <div class="sbg-form-footer">
                    <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase" *ngIf="show.Create &&  this.permissionAction.CREATE_ADVERTISING">
                        {{translateKey.ADVERTISING_MANAGER.BTN_CREATE | translate}}</button>
                    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase" *ngIf="!show.Create &&  this.permissionAction.UPDATE_ADVERTISING">
                        {{translateKey.ADVERTISING_MANAGER.BTN_UPDATE | translate}}</button>
                    <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                        {{translateKey.ADVERTISING_MANAGER.BTN_BACK | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</app-master-page>