body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
z-index: 1;
position: inherit;
overflow: auto;
left: 0;
width: 0;
height: 100%;
margin-top: 52px;
overflow-y: auto;
background: #f7f8f9;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
border-right: 1px solid #d7dcdf;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: initial;
    padding: 15px;
    padding-right: 0px;
    margin-top: 52px;
    width: 100%;
}

h4 {
    text-align: center;
    margin-bottom: .5rem !important;
    font-family: -webkit-body !important;
    font-weight: 100 !important;
    line-height: 1.2;
    color: #000 !important;
    position: sticky;
    left: 45%;
    top: 49%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav ul,
.sidebar-nav li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.sidebar-nav li {
    line-height: 43px;
    border-bottom: 1px solid #d7dcdf;
    padding-left: 13px;
}

.sidebar-nav li:hover {
    text-decoration: none;
    background: #ffffff;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgb(255, 255, 255);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
color: #fff;
background: none;
}

@media(min-width:768px) {
#wrapper {
    width:100%;
    padding-left: 0;
    height: 100%;
    overflow: auto;
}
#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
    width: 0;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    height: 100%;
    padding: 20px;
    padding-right: 0px;
    position: relative;
}
#wrapper.toggled #page-content-wrapper {
    position: initial;
    margin-right: 0;
}
}

.sidebar-nav ul .arrow,
.sidebar-nav li .arrow {
padding-left: 10px;
padding-right: 10px;
vertical-align: middle;
float: right;
line-height: 43px;
}

.sidebar-nav li .arrow-container {
    position: absolute;
    height: 100%;
    min-height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left-width: 1px;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    top: 2px;
    width: 2.5em;
    height: 39px;
    padding: 0em .2em;
    background-color: transparent;
    z-index: 12;
}

.sidebar-nav ul span.arrow:before,
.sidebar-nav li span.arrow:before {
content: "\f0d7";
}

.sidebar-nav ul.collapsed span.arrow:before,
.sidebar-nav li.collapsed span.arrow:before {
content: "\f0da";
}

.sidebar-nav li.active {

background-color: #fff;
}

.sidebar-nav li i.item-folder {
color: #0a90eb;
}

.sidebar-nav li i.item-folder:before {
content: "\f07b";
}

.sidebar-nav li.active i.item-folder:before {
content: "\f07c";
}

.navbar {
    z-index: 1000;
    background: #f7f8f9;
    border-bottom: 1px solid #d7dcdf;
    box-shadow: .2px 0.2px #888888;
    padding: .6em 1em;
    width: 100%;
    position: fixed !important;
}

.navbar-toggler-icon {
width: 1.3em;
height: 1.3em;
}

.nav-item {
margin-right: 5px;
height: 35px;
margin-left: 5px;
}

.nav-item button {
text-shadow: 0 1px 0 #f3f3f3;
color: #373a3c;
background-color: #fff;
border: 1px solid #d7dcdf;
}

.nav-item button:hover {
background-color: #f7f8f9;
border-color: #d7dcdf;
color: #373a3c;
}

.sub-level-0 > li {
    padding-left: 20px;
    }

.sub-level-1 > li {
padding-left: 20px;
}

.sub-level-2 > li {
padding-left: 30px;
}

.sub-level-3 > li {
padding-left: 40px;
}

.sub-level-4 > li {
padding-left: 50px;
}

.sub-level-5 > li {
padding-left: 60px;
}

.sub-level-6 > li {
padding-left: 70px;
}

.sub-level-7 > li {
padding-left: 80px;
}

.sub-level-8 > li {
padding-left: 90px;
}

.sub-level-9 > li {
padding-left: 100px;
}

img {
    width: 100%;
}

.item_img_content {
    height: 95px !important;
    overflow: hidden;
    width: 100%;
}

.item {
    padding: 8px;
    display: inline-table;
    width:105px;
    margin: 5px;
    min-height: 166px;
    float: left;
}

.itemFolder {
    padding: 8px;
    display: inline-flex;
    width:200px;
    margin: 5px
}

.item.active{
    background-color: #f7f8f9;
    outline: -webkit-focus-ring-color auto 5px !important;
}


.item:hover {
    background-color: #f7f8f9;
    cursor: pointer;
    outline: -webkit-focus-ring-color auto 5px !important;
}

.nameFile {
    font-size: 14px;
    word-break: break-all;
    text-align: left;
    width: 90px;
    text-overflow: ellipsis;
    margin-left: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.nameFolder {
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    text-overflow: ellipsis;
}

.sizeFile {
    font-size: 12px;
    word-break: break-word;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    width: 90px;
    text-overflow: ellipsis;
    margin-left: 5px;
    color: #687982
}

#files {
    display:inline-block;
}

input[type="file"] {
    display: none;
}

input[type="submit"] {
    display: none;
}

button {
    font-size: 14px !important;
}

input[type="text"] {
    font-size: 14px !important;
    height: 35px;
}

.navbar-expand {
    padding: .7rem 1.2rem;
} 

.navbar-toggler-icon {
    width: 1.3em !important;
    height: 1.3em !important;
}

@font-face {
    font-family: "demo";
    src: url('fonts/icons.woff') format("woff"), url('fonts/icons.ttf') format("truetype");
  }
  
  @keyframes loadingStart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    position: relative;
    pointer-events: none;
  }
  
  #css-input:checked ~ .loading .loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-animation: loadingStart 1s 50ms linear 0.5 both;
    -moz-animation: loadingStart 1s 50ms linear 0.5 both;
    -o-animation: loadingStart 1s 50ms linear 0.5 both;
    animation: loadingStart 1s 50ms linear 0.5 both;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  #css-input:checked ~ .loading .loading-text {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    text-shadow: white 0 0 1em, white 0 0 0.5em, white 0 0 0.25em;
    position: relative;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    color: black !important;

  }

  #css-input:checked ~ .loading .loading-text:after {
    content: "...";
  }

  #css-input:checked ~ .loading .loading-spinner {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -3.9375rem auto 0;
    color: #008ae8 !important;
    text-align: center;
  }

  #css-input:checked ~ .loading .loading-icon {
    font-size: 4.8125rem;
    line-height: 5.25rem;
    text-shadow: rgba(255, 255, 255, 0.75) 0 0 0.5em;
    -webkit-animation: loading 1s steps(4) infinite;
    -moz-animation: loading 1s steps(4) infinite;
    -o-animation: loading 1s steps(4) infinite;
    animation: loading 1s steps(4) infinite;
    display: block;
    /* vertical-align: middle; */
  }

  #css-input:checked ~ .loading .loading-icon:before {
    vertical-align: middle;
    content: "\e000";
    font-family: "demo";
  }

  .swal-button--cancel {
    padding: 10px 10px;
    width: 70px;
    text-align: center;
    font-size: 14px !important;
    height: 40px;
}

.swal-button--danger {
    width: 70px;
    height: 40px;
    font-size: 14px !important;
    padding: 10px 10px;
}

.swal-footer {
    text-align: center;
}

.page h1.format-icon:before {
content: none;
}

.container-fluid {
    display: inline-block;
    height: 100%;
}

.popupClose {
    font-size: 10px !important;
    height: 200px;
}

.check-author {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #000000a6;
    top: 42%;
    font-size: 1.4rem !important;
}

.context-menu-options {
    padding:0 !important;
}

.swal2-popup {
    font-size:12px !important;
}

.navbar-dark .navbar-brand {
    color: #000 !important
}

.navbar-dark .navbar-brand :hover {
    color: #000 !important
}

.uploadFile {
    margin-bottom: 0;
    text-shadow: 0 1px 0 #f3f3f3 !important;
    color: #373a3c !important;
    background-color: #fff !important;
    height: 35px !important;
    font-size: 14px !important ;
    border: 1px solid #d7dcdf !important;
    display: flex !important
}

.element {
    display: none;
}

.check-author {
    display: none;
}

.icon-upload {
    line-height: 19px !important;
    margin-right: 4px !important;
}

.create-folder {
    line-height: 20px !important;
    margin-right: 3px;
    font-size: 16px;
}

.create-folder-button {
    display: flex !important;
}

.fa, .fas {
    color:#0a90eb 
}

.context-menu-option, .context-menu-submenu {
    cursor: pointer;
    border-bottom: 1px solid #f7f8f9;
}

.nameFolderLeft {
    text-align: center
}

.lableHeader {
    margin-left: 20px
}