<div class="container sbg-popup" [hidden]="hidePoup">
  <div fxLayout="row" class="mb-3 sbg-popup-title" fxLayoutGap="20px" fxLayoutGap.xs="0" fxLayoutAlign="right">
    <label mat-dialog-title style="width: 99%" class="text-uppercase">
      {{data.title}}
    </label>
    <i class="material-icons" style="cursor: pointer;" (click)="onClose()" matDialogClose>close </i>
  </div>
  <div class="row sbg-popup-body">
    <div class="sbg-form-filter">
      <mat-form-field class="sbg-form-field input-text">
        <input matInput type="text" [(ngModel)]="modelSearch.name" name="key" 
        placeholder=" {{ translateKey.POPUP_ADD_SOCCER_COMPETITION.HOLDER_INPUT_SEARCH | translate }} "
        [formControl]="formGroup.controls.name"
        >
      </mat-form-field>
      <app-show-errors [displayName]="translateKey.POPUP_ADD_SOCCER_COMPETITION.HOLDER_INPUT_SEARCH | translate"
                [control]="formGroup.controls.name"></app-show-errors>
      <button mat-raised-button color="primary" (click)="onSearch()" class="text-uppercase m-2">
        {{ translateKey.POPUP_ADD_SOCCER_COMPETITION.BTN_SEARCH | translate }}</button>
    </div>
    <div style="margin:12px 0px !important">{{showSoccerTeam}}</div>
    <table mat-table [dataSource]="soccerTeams" class="sbg-table">
      <!-- Checkbox Column -->
      <ng-container matColumnDef="CB">
        <th mat-header-cell *matHeaderCellDef style="width: 60px;text-align: center; ">
          <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" style="text-align: center; ">
          <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? onSelection(row.id) : null" [checked]="selection.isSelected(row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- STT Column -->
      <ng-container matColumnDef="STT">
        <th mat-header-cell *matHeaderCellDef class="sbg-header" style="text-align: center; width: 60px">
          {{ translateKey.POPUP_ADD_SOCCER_COMPETITION.HEADER_STT | translate }}
        </th>
        <td mat-cell *matCellDef="let element; let i = index" class="text-center">
          {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
      </ng-container>

      <!-- Tên đội bóng -->
      <ng-container matColumnDef="NAME">
        <th mat-header-cell *matHeaderCellDef class="sbg-header"><b>
            {{translateKey.POPUP_ADD_SOCCER_COMPETITION.HEADER_SOCCER_NAME | translate}}</b></th>
        <td mat-cell *matCellDef="let element"> {{element.name}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['CB', 'STT', 'NAME']; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: ['CB', 'STT', 'NAME'];" class="element-row"></tr>
    </table>
    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length" [pageSize]="pagination.pageSize"
      [pageSizeOptions]="pagination.pageSizeOptions" (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
    </app-pagination>
  </div>
  <div fxLayout="row" class="sbg-popup-footer" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase">
      {{translateKey.POPUP_ADD_SOCCER_COMPETITION.BTN_OK | translate}}</button>
    <button mat-raised-button (click)="onClose()" class="text-uppercase">
      {{translateKey.POPUP_ADD_SOCCER_COMPETITION.BTN_CLOSE | translate}}</button>
  </div>
</div>