table {
    width: 100%
}

.select {
    width: 180px;
}

.sbg-form-body {
    padding: 20px 20px 0px;
}

td {
    word-break: break-all;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0px;
}