<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/"> <span> {{ translateKey.SHARE.HOME_PAGE | translate }}</span></a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route"> {{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_LIST_HEADER | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_LIST_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-3">
                <div class="mdc-layout-grid__inner">
                    <!-- tiêu đề -->
                    <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title" name="title">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>

                    <!-- trạng thái -->
                    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_STATUS | translate }}"
                                [(value)]="model.isActive" [(ngModel)]="model.isActive" name="status">
                                <mat-option value="" selected>{{ translateKey.SHARE.SELECT_ALL | translate }}</mat-option>
                                <mat-option [value]="true"> {{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_IS_ACTIVE | translate}} </mat-option>
                                <mat-option [value]="false"> {{
                                    translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_IS_DEACTIVE | translate}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div>
                        <button *ngIf="permissionAction.ADVERTISING_CONFIG_SEARCH" mat-raised-button color="primary" (click)="onSubmit()"
                            class="text-uppercase"> {{
                            translateKey.ADVERTISING_CONFIG_MANAGER.BTN_SEARCH | translate }}</button>
                    </div>
                    <div class="right-line">
                        <div *ngIf="permissionAction.ADVERTISING_CONFIG_ADD" (click)="onCreate()">
                            <i class="material-icons">add</i> <span> {{
                                translateKey.ADVERTISING_CONFIG_MANAGER.BTN_ADD_ADVERTISING_CONFIG | translate }}
                            </span>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)" 
                    [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                    matSortDisableClear
                     class="mat-table mat-elevation-z2">

                        <!-- STT Column -->
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px !important; text-align: center;">
                                {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STT | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 50px !important;" class="text-center">
                                {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                        </ng-container>

                        <!-- Tiêu đề-->
                        <ng-container matColumnDef="TITLE">
                            <th mat-header-cell mat-sort-header="Title" *matHeaderCellDef style="width: auto;" class="sbg-header pr-4">
                                {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TITLE | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="width: auto; text-align: left;" class="pr-4">
                                {{e.title}}
                            </td>
                        </ng-container>

                        <!-- Trạng thái -->
                        <ng-container matColumnDef="STATUS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 200px">
                                {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STATUS | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                <span *ngIf="e.isActive">{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_IS_ACTIVE |
                                    translate}}</span>
                                <span *ngIf="!e.isActive">{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_IS_DEACTIVE
                                    |
                                    translate}}</span>
                            </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:90px !important;padding-right: 0px !important;">
                                {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                            <td mat-cell *matCellDef="let e" style="text-align: center; width:90px !important;padding-right: 0px !important;">
                                <i *ngIf="onShowActtionItem(e,'updateAdvertisingConfig')" class="material-icons m-1"
                                    matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_UPDATE_ADVERTISING_CONFIG | translate }}"
                                    style="cursor: pointer" (click)="onEdit(e)">edit</i>
                                <i *ngIf="onShowActtionItem(e,'deleteAdvertisingConfig')" class="material-icons"
                                    matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_DELETE_ADVERTISING_CONFIG | translate }}"
                                    style="cursor: pointer" (click)="onDelete(e)">delete</i>
                                <i *ngIf="onShowActtionItem(e,'deActiveAdvertisingConfig')" class="material-icons"
                                    matTooltip="{{translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_DEACTIVE_ADVERTISING_CONFIG | translate}}"
                                    style="cursor: pointer;" (click)="onDeActive(e)">lock</i>
                                <i *ngIf="onShowActtionItem(e,'activeAdvertisingConfig')" class="material-icons"
                                    matTooltip="{{translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_ACTIVE_ADVERTISING_CONFIG | translate}}"
                                    style="cursor: pointer;" (click)="onActive(e)">lock_open</i>
                                    </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['STT', 'TITLE', 'STATUS', 'ACTIONS' ]; sticky: true">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['STT', 'TITLE', 'STATUS', 'ACTIONS' ];" class="element-row"></tr>
                    </table>
                    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length" [pageSize]="pagination.pageSize"
                        [pageSizeOptions]="pagination.pageSizeOptions" (pageChanged)="onPageChanged($event)"
                        [pageIndex]="pagination.pageIndex">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-master-page>