<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.PARTNER_MANAGER.PAGE_LIST_TITLE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <div class="active-route" *ngIf="show.Create">
            {{ translateKey.PARTNER_MANAGER.PAGE_CREATE_TITLE | translate }}
        </div>
        <div class="active-route" *ngIf="!show.Create">
            {{ translateKey.PARTNER_MANAGER.PAGE_UPDATE_TITLE | translate }}
        </div>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            <div *ngIf="show.Create">{{ translateKey.PARTNER_MANAGER.PAGE_CREATE_TITLE | translate }}</div>
            <div *ngIf="!show.Create"> {{ translateKey.PARTNER_MANAGER.PAGE_UPDATE_TITLE | translate }}</div>
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- tên -->
                    <div class="mdc-layout-grid__cell--span-12-desktop
                    mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('name')" required
                            placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_NAME | translate }}"
                                [formControl]="formGroup.controls.name" [(ngModel)]="model.name">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.PARTNER_MANAGER.LABLE_NAME | translate"
                            [errorMessage]="error.name" [control]="formGroup.controls.name"></app-show-errors>
                    </div>

                     <!-- website -->
                     <div class="mdc-layout-grid__cell--span-6-desktop
                     mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                         <mat-form-field class="sbg-full-width">
                             <input matInput type="text" (focus)="removeValidateServer('website')" placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_WEBSITE | translate }}"
                                 [formControl]="formGroup.controls.website" [(ngModel)]="model.website">
                         </mat-form-field>
                         <app-show-errors [displayName]="translateKey.PARTNER_MANAGER.LABLE_WEBSITE | translate"
                             [errorMessage]="error.website" [control]="formGroup.controls.website"></app-show-errors>
                     </div>

                    <!-- logo -->
                      <div class="mdc-layout-grid__cell--span-6-desktop
                      mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                          <mat-form-field class="sbg-full-width">
                              <input matInput type="text" (focus)="removeValidateServer('logo')" placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_LOGO | translate }}"
                                  [formControl]="formGroup.controls.logo" [(ngModel)]="model.logo">
                          </mat-form-field>
                          <app-show-errors [displayName]="translateKey.PARTNER_MANAGER.LABLE_LOGO | translate"
                              [errorMessage]="error.logo" [control]="formGroup.controls.logo"></app-show-errors>
                      </div>

                    <!-- mô tả -->
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" [(ngModel)]="model.description"
                                [formControl]="formGroup.controls.description">
                                    </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.PARTNER_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                </div>
            </div>
            <div class="mdc-layout-grid" style="display:block;">
                <div class="sbg-form-footer">
                    <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase" *ngIf="show.Create &&  this.permissionAction.CREATE_PARTNER">
                        {{translateKey.PARTNER_MANAGER.BTN_CREATE | translate}}</button>
                    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase" *ngIf="!show.Create &&  this.permissionAction.UPDATE_PARTNER">
                        {{translateKey.PARTNER_MANAGER.BTN_UPDATE | translate}}</button>
                    <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                        {{translateKey.PARTNER_MANAGER.BTN_BACK | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</app-master-page>