
.groupSelect {
  width: 80px;
}

.inputNumber {
  width: 8%;
}

.showHome {
  margin-top: 20px
}

.listGroup {
  margin-top: 29px;
}

.sbg-popup-body {
  padding: 0 20px;
}

.headerLable {
  font-size: 1.2em;
  margin-bottom: 12px;
}