<div class="container sbg-popup" [hidden]="hidePoup">
    <div fxLayout="row" class="mb-3 sbg-popup-title" fxLayoutGap="20px" fxLayoutGap.xs="0" fxLayoutAlign="right">
        <label mat-dialog-title style="width: 99%" class="text-uppercase">
            {{translateKey.STAGE_MANAGER.POPUP_TITLE_UPDATE_STANDING | translate : headerPopup}}
        </label>
        <i class="material-icons" style="cursor: pointer;" (click)="onClose()" matDialogClose>close </i>
    </div>
    <div class="row sbg-popup-body">
        <div *ngFor="let groupObject of listGroup" class="listGroup">
            <div *ngIf="!data.dataObject.standAlone && groupObject.group !==undefined && groupObject.group !==null && groupObject.group !=='' ">
                <div class="headerLable">{{ translateKey.STAGE_MANAGER.LABEL_STANDING_GROUP | translate }} {{
                    groupObject.group }}</div>
            </div>
            <table class="mat-table mat-elevation-z2 table-hover" role="grid">
                <thead>
                    <tr class="mat-header-row" role="row">
                        <th class="mat-header-cell sbg-header text-center" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_ACTION_UPDATE_GROUP | translate }}"
                            style="width:40px;">
                            {{ translateKey.STAGE_MANAGER.POPUP_TABLE_HEADER_STT | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_NAME | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_NAME | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_P | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_P | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_ST | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_ST | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_T | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_T | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_H | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_H | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_B | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_B | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_BT | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_BT | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_BB | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_BB | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_HS | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_HS | translate }}
                        </th>
                        <th class="mat-header-cell sbg-header" role="columnheader" matTooltip="{{ translateKey.STAGE_MANAGER.TABLE_STANDING_TOOLTIP_D | translate }}">
                            {{ translateKey.STAGE_MANAGER.TABLE_STANDING_HEADER_D | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let group of groupObject.tables,let index = index" class="element-row mat-row">
                        <td class="text-center mat-cell">{{index + 1}}</td>
                        <td class="mat-cell">{{group.name}}</td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.position" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.played" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.won" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.drawn" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.lost" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.goalsFor" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.goalsAgainst" [appNumberOnly]="true" appMax="100000" appMin="0"
                                maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.goalDifference" [appNumberOnly]="true" appMax="100000" appMin="0"
                                maxlength="5"></td>
                        <td class="inputNumber mat-cell"><input autocomplete="off" matInput placeholder="__"
                                [(ngModel)]="group.points" [appNumberOnly]="true" appMax="100000" appMin="0" maxlength="5"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="showHome">
            <mat-checkbox [(ngModel)]="standingInfo.isShowInHomepage">
                {{ translateKey.STAGE_MANAGER.POPUP_SHOW_HOME | translate }}
            </mat-checkbox>
        </div>
    </div>
    <div fxLayout="row" class="sbg-popup-footer" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase">
            {{translateKey.STAGE_MANAGER.BTN_UPDATE | translate}}</button>
        <button mat-raised-button (click)="onClose()" class="text-uppercase">
            {{translateKey.STAGE_MANAGER.BTN_CLOSE | translate }}</button>
    </div>
</div>