<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <span>{{ translateKey.SHARE.HOME_PAGE | translate }}</span>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="">{{ translateKey.VALIDATE_CLIENT.CATEGORIES | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a href="">{{ translateKey.VALIDATE_CLIENT.PAGE_TITLE | translate }}</a>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.VALIDATE_CLIENT.FORM_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="sbgList-2">
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_USER_NAME | translate }}"
                            [formControl]="formGroup.controls.maxLenght" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_CLIENT.LABLE_USER_NAME | translate"
                        [control]="formGroup.controls.maxLenght"></app-show-errors>
                </div>
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_DATETIME | translate }}"
                            [formControl]="formGroup.controls.birthDay">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_NUMBER_PHONE | translate }}"
                            [formControl]="formGroup.controls.phone" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_CLIENT.LABLE_NUMBER_PHONE | translate"
                        [control]="formGroup.controls.phone"></app-show-errors>
                </div>
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_FULL_NAME | translate }}"
                            [formControl]="formGroup.controls.fullName" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_CLIENT.LABLE_FULL_NAME | translate"
                        [control]="formGroup.controls.fullName"></app-show-errors>
                </div>
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_AGE | translate }}"
                            [formControl]="formGroup.controls.age" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_CLIENT.LABLE_AGE | translate" [control]="formGroup.controls.age"></app-show-errors>
                </div>
                <div class="sbgListItem-2">
                    <mat-form-field class="sbg-full-width">
                        <input matInput placeholder="{{ translateKey.VALIDATE_CLIENT.LABLE_EMAIL | translate }}"
                            [formControl]="formGroup.controls.email" />
                    </mat-form-field>
                    <app-show-errors [displayName]=" translateKey.VALIDATE_CLIENT.LABLE_EMAIL | translate" [control]="formGroup.controls.email"></app-show-errors>
                </div>
            </div>
            <div class="sbg-form-footer" fxLayoutGap="10px">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
                    {{ translateKey.VALIDATE_CLIENT.BTN_CREATE | translate }}
                </button>
                <button mat-raised-button color="primary" (click)="onClear()">
                    {{ translateKey.VALIDATE_CLIENT.BTN_CANCLE | translate }}
                </button>
            </div>
        </div>
    </div>
</app-master-page>