
.scroll-container {
  height: 100%;
  overflow: auto;
}

.mat-cell {
  font-size: 14px;
  min-height: 48px;
  text-align: center;
  border-right: 1px solid e0e0e0;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: unset;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-text{
  min-width: 300px !important;
}

.sbg-form-body {
  padding: 20px 20px 0px;
}