<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="acitve-route"> {{ translateKey.USER_LIST.NAV | translate }} </span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.USER_LIST.PAGE_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <form class="sbg-form-filter">
                <mat-form-field class="sbg-form-field input-text">
                    <input matInput type="text" placeholder="{{ translateKey.USER_LIST.INPUT_PLACE_HOLDER | translate }}"
                        [(ngModel)]="modelUserSearch.keywords" name="key">
                </mat-form-field>
                <button *ngIf="permissionAction.USER_VIEW_LIST" mat-raised-button color="primary" (click)="onSearch()"
                    class="text-uppercase"> {{
                    translateKey.USER_LIST.BTN_SEARCH | translate }}</button>
            </form>
            <table mat-table [dataSource]="usersInfo" class="mat-table mat-elevation-z2 table-hover" matSort
                (matSortChange)="sortData($event)" [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                matSortDisableClear>

                <!-- STT Column -->
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header text-center table-header-column-1 pl-0">
                        {{ translateKey.USER_LIST.TABLE_HEADER_STT | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center">
                        {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="USER_NAME">
                    <th mat-header-cell class="sbg-header" mat-sort-header="UserName"  *matHeaderCellDef style="width: 300px;cursor: pointer;">
                        {{ translateKey.USER_LIST.TABLE_HEADER_USER_NAME | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element"  class="text-left">
                        {{element.userName}}
                    </td>
                </ng-container>

                <!-- fullName -->
                <ng-container matColumnDef="FULL_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="FullName" style="width: 300px" class="sbg-header">
                        {{ translateKey.USER_LIST.TABLE_HEADER_FULL_NAME | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e"  class="text-left">{{e.fullName}}
                    </td>
                </ng-container>

                <!-- Email -->
                <ng-container matColumnDef="EMAIL">
                    <th mat-header-cell *matHeaderCellDef style="width: 300px" class="sbg-header">
                        {{ translateKey.USER_LIST.TABLE_HEADER_EMAIL | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e" class="text-left">{{e.email}}
                    </td>
                </ng-container>

                <!-- Roles -->
                <ng-container matColumnDef="ROLES">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 300px"> {{
                        translateKey.USER_LIST.TABLE_HEADER_ROLES
                        | translate }}</th>
                    <td mat-cell *matCellDef="let e"  class="text-left"> {{e.rolesStr}} </td>
                </ng-container>

                <!-- Thao tác -->
                <ng-container matColumnDef="ACTIONS">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header  text-left table-header-column-2" >
                        {{ translateKey.USER_LIST.TABLE_HEADER_ACTIONS | translate }}</th>
                    <td mat-cell *matCellDef="let e" class="text-left">
                        <i *ngIf="onShowActtionItem(e,'editRole')" class="material-icons mr-1" matTooltip="{{translateKey.USER_LIST.TOOLTIP_EDIT_ROLES | translate}}"
                            style="cursor: pointer;" (click)="openDialog(e.id)">people</i>
                        <i *ngIf="onShowActtionItem(e,'deactivate')" class="material-icons m-1" matTooltip="{{translateKey.USER_LIST.TOOLTIP_LOCK_USER | translate}}"
                            style="cursor: pointer;" (click)="onDeactivate(e)">lock</i>
                        <i *ngIf="onShowActtionItem(e,'activate')" class="material-icons m-1" matTooltip="{{translateKey.USER_LIST.TOOLTIP_UNLOCK_USER | translate}}"
                            style="cursor: pointer;" (click)="onActivate(e)">lock_open</i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['STT', 'USER_NAME', 'FULL_NAME', 'EMAIL', 'ROLES', 'ACTIONS' ]; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['STT', 'USER_NAME', 'FULL_NAME', 'EMAIL', 'ROLES', 'ACTIONS' ];"
                    class="element-row"></tr>
            </table>
            <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length" [pageSize]="pagination.pageSize"
                [pageSizeOptions]="pagination.pageSizeOptions" (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
            </app-pagination>
        </div>
    </div>

</app-master-page>