<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.LIVESTREAM_MANAGER.PAGE_LIST_TITLE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <div class="active-route" *ngIf="show.Create">
            {{ translateKey.LIVESTREAM_MANAGER.PAGE_CREATE_TITLE | translate }}
        </div>
        <div class="active-route" *ngIf="!show.Create">
            {{ translateKey.LIVESTREAM_MANAGER.PAGE_UPDATE_TITLE | translate }}
        </div>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            <div *ngIf="show.Create">{{ translateKey.LIVESTREAM_MANAGER.PAGE_CREATE_TITLE | translate }}</div>
            <div *ngIf="!show.Create"> {{ translateKey.LIVESTREAM_MANAGER.PAGE_UPDATE_TITLE | translate }}</div>
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- tiêu đề -->
                    <div class="mdc-layout-grid__cell--span-12-desktop
                    mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('title')" required
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>

                    <!-- giải đấu -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="modelInfo.listCompetiton"
                            [(ngModel)]="model.soccerCompetitionId" displayField="title" selectField="id"
                            (selectionChange)="onSearchRound()"
                            placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABEL_COMPETITION | translate }}">
                        </app-autocomplete>
                    </div>

                    <!-- vòng đấu -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABEL_ROUND | translate }}"
                                [(value)]="model.soccerRoundId" (selectionChange)="onSearchMatch()"
                                [(ngModel)]="model.soccerRoundId" name="soccerRoundId">
                                <mat-option *ngFor="let round of modelInfo.roundList" [value]="round.id">
                                    {{round.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- trận đấu -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_MATCH | translate }}"
                                [formControl]="formGroup.controls.soccerMatchId" required
                                [(value)]="model.soccerMatchId" [(ngModel)]="model.soccerMatchId"
                                (focus)="removeValidateServer('soccerMatchId')" name="soccerMatchId">
                                <mat-option *ngFor="let match of modelInfo.matchList" [value]="match.soccerMatchId">
                                    {{match.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_MATCH_PLACEHOLDER | translate"
                            [errorMessage]="error.soccerMatchId" [control]="formGroup.controls.soccerMatchId">
                        </app-show-errors>
                    </div>

                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.startAt" (focus)="removeValidateServer('startAt')" required
                            placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.startAt" [settings]="optionDateFull">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_DATE_START | translate"
                            [errorMessage]="error.startAt" [control]="formGroup.controls.startAt">
                        </app-show-errors>
                    </div>

                    <!-- trạng thái -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_STATUS | translate }}"
                                required [(value)]="model.status" [(ngModel)]="model.status"
                                (focus)="removeValidateServer('status')" [formControl]="formGroup.controls.status"
                                name="status">
                                <mat-option *ngFor="let status of modelInfo.listStatus" [value]="status.value">
                                    {{status.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_STATUS_PLACEHOLDER | translate"
                            [errorMessage]="error.status" [control]="formGroup.controls.status"></app-show-errors>
                    </div>

                    <!-- Cấu hình quảng cáo -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_ADS | translate }}"
                                [(value)]="model.adsConfigurationId" [(ngModel)]="model.adsConfigurationId"
                                name="adsConfigurationId">
                                <mat-option></mat-option>
                                <mat-option *ngFor="let config of modelInfo.listConfigAds" [value]="config.id">
                                    {{config.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- link chat -->
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('chatUrl')"
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_LINK_CHAT | translate }}"
                                [formControl]="formGroup.controls.chatUrl" [(ngModel)]="model.chatUrl" name="chatUrl">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_LINK_CHAT | translate"
                            [errorMessage]="error.chatUrl" [control]="formGroup.controls.chatUrl"></app-show-errors>
                    </div>

                    <!-- linkslug -->
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input required matInput type="text" (focus)="removeValidateServer('urlSlug')"
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_LINK_SLUG | translate }}"
                                [formControl]="formGroup.controls.urlSlug" [(ngModel)]="model.urlSlug" name="urlSlug">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_LINK_SLUG | translate"
                            [errorMessage]="error.urlSlug" [control]="formGroup.controls.urlSlug"></app-show-errors>
                    </div>

                    <!-- tags -->
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let tag of model.tags" (removed)="remove(tag)">
                                    {{tag}}
                                    <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_TAGS | translate }}"
                                    [matChipInputFor]="chipList" (focus)="removeValidateServer('tags')"
                                    [formControl]="formGroup.controls.tags"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_TAGS | translate"
                            [errorMessage]="error.tags" [control]="formGroup.controls.tags"></app-show-errors>
                    </div>

                    <!-- mô tả -->
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" [(ngModel)]="model.description"
                                [formControl]="formGroup.controls.description">
                                    </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                </div>
            </div>
            <div class="mdc-layout-grid" style="display:block;">
                <div
                    class="mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-4-phone mt-4 mb-2">
                    <div style="font-size: 1.1em;">{{ translateKey.LIVESTREAM_MANAGER.LABLE_CREATE_LINK_LIVESTREAM |
                        translate }}</div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <!-- Tên hiển thị -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" [formControl]="formGroupLink.controls.label"
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_SHOW_NAME | translate }}"
                                [(ngModel)]="linkModel.label" name="label">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_SHOW_NAME | translate"
                            [errorMessage]="error.label" [control]="formGroupLink.controls.label">
                        </app-show-errors>
                    </div>
                    <!-- Loại chất lượng -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_QUALITY | translate }}"
                                [formControl]="formGroupLink.controls.quanlity" [(value)]="linkModel.quanlity"
                                [(ngModel)]="linkModel.quanlity" name="quanlity">
                                <mat-option *ngFor="let quality of modelInfo.livestreamVideoUnits"
                                    [value]="quality.value">
                                    {{quality.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_QUALITY | translate"
                            [errorMessage]="error.quanlity" [control]="formGroupLink.controls.quanlity">
                        </app-show-errors>
                    </div>
                    <!-- Đường dẫn server -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text"
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_LINK | translate }}"
                                [formControl]="formGroupLink.controls.link" [(ngModel)]="linkModel.link" name="link">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_LINK | translate"
                            [errorMessage]="error.link" [control]="formGroupLink.controls.link">
                        </app-show-errors>
                    </div>
                </div>
                <div class="mb-4 mt-4" *ngIf="show.createLink">
                    <button mat-raised-button (click)="onCreateLink()" color="primary" class="text-uppercase">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_CREATE_LINK | translate}}</button>
                </div>
                <div *ngIf="!show.createLink" class="mb-4 mt-4" style="display: inline-flex">
                    <button mat-raised-button (click)="onSubmitEditLink()" color="primary" class="text-uppercase mr-2">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_EDIT_LINK | translate}}</button>
                    <button mat-raised-button (click)="onCancel()" class="text-uppercase">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_CANCEL_LINK | translate}}</button>
                </div>
                <table mat-table [dataSource]="dataSource" class="mat-table mat-elevation-z2">

                    <!-- STT Column -->
                    <ng-container matColumnDef="STT">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header"
                            style="width: 50px; text-align: center;">
                            {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_STT | translate }}
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                            {{ 1 + i }}</td>
                    </ng-container>

                    <!-- Tên hiển thị table-->
                    <ng-container matColumnDef="SHOW_NAME">
                        <th mat-header-cell *matHeaderCellDef style="max-width: 30%;min-width: 100px;"
                            class="sbg-header">
                            {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_LABEL | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="max-width: 30%; text-align: left;">{{e.label}}
                        </td>
                    </ng-container>

                    <!--  Loại chất lượng table-->
                    <ng-container matColumnDef="QUALITY">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header" style="min-width:100px">
                            {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_QUALITY | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.quanlityTitle}}
                        </td>
                    </ng-container>

                    <!--  Dường dẫn table -->
                    <ng-container matColumnDef="LINK">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header">
                            {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_LINK | translate }}
                        </th>
                        <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.link}} </td>
                    </ng-container>

                    <!-- Action -->
                    <ng-container matColumnDef="ACTIONS">
                        <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions"
                            style="text-align: center; width:90px !important;padding-right: 0px !important;">
                            {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                        <td mat-cell *matCellDef="let e;  let i = index"
                            style="text-align: center; width:90px !important;padding-right: 0px !important;">
                            <i class="material-icons m-1"
                                matTooltip="{{ translateKey.LIVESTREAM_MANAGER.TOOLTIP_UPDATE_LIVESTREAM | translate }}"
                                [matTooltipDisabled]="selectedRowIndex == i"
                                (click)="selectedRowIndex != i && onEditLink(e, i)"
                                [ngClass]="{'disable': selectedRowIndex == i}">edit</i>
                            <i class="material-icons"
                                matTooltip="{{ translateKey.LIVESTREAM_MANAGER.TOOLTIP_DELETE_LIVESTREAM | translate }}"
                                [matTooltipDisabled]="selectedRowIndex == i"
                                (click)="selectedRowIndex != i && onDeleteLink(e)"
                                [ngClass]="{'disable': selectedRowIndex == i}">delete</i>
                    </ng-container>

                    <tr mat-header-row
                        *matHeaderRowDef="['STT', 'SHOW_NAME', 'QUALITY', 'LINK', 'ACTIONS' ]; sticky: true">
                    </tr>
                    <tr mat-row
                        *matRowDef="let row; let i = index; columns: ['STT', 'SHOW_NAME', 'QUALITY', 'LINK', 'ACTIONS' ];"
                        [ngClass]="{'highlight': selectedRowIndex == i}" class="element-row"></tr>
                </table>
                <div class="sbg-form-footer">
                    <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase"
                        *ngIf="show.Create &&  this.permissionAction.CREATE_MATCH">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_CREATE | translate}}</button>
                    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase"
                        *ngIf="!show.Create &&  this.permissionAction.UPDATE_MATCH">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_UPDATE | translate}}</button>
                    <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                        {{translateKey.LIVESTREAM_MANAGER.BTN_BACK | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</app-master-page>