
.spacer {
    flex: 1 1 auto;
  }
  .master-page-container{
    margin: 10px;
  }

  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  mat-sidenav {
    width: 250px;;
  }

  .circle {
    border-radius: 50%;
  }

  .with-bg {
    background: url('assets/images/office.jpeg') no-repeat center;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    max-height: 130px;
  }

  .no-shadow {
    box-shadow: none !important;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
    padding-left: 10px !important;
  }

  .header-box-shadow {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }

  .bottom-to-top {
    border: 0px;
    border-right: 1px;
    border-style: solid;
    border-image:
    linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
  }

  .item-lang img {
    width: 34px;
    vertical-align: middle;
    padding-right: 5px;
  }
  .active-menu {
    color: #0062cc;
    background-color:#f1f1f1;
  }
