<mat-sidenav-container class="container">
    <mat-sidenav #sidenav class="bottom-to-top">
        <div class="my-2" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div class="with-bg"></div>
            <div>
                <a>
                    <img class="circle" [src]="model.avatar" width="100">
                </a>
            </div>
        </div>
        <div style="background-color: #3e50b5 !important;" class="mt-2 py-3 text-white" fxLayout="column" fxLayoutAlign="center center"
            fxLayoutGap="7px">

            <div>

                <a>

                    <span class="lead">{{model.fullName}}</span>

                </a>

            </div>

            <div>

                <a>
                    <span class="">{{model.email}}</span>
                </a>

            </div>

        </div>
        <div class="mt-3">
            <ng-template ngFor let-menu [ngForOf]="model.cmsLeftMenus">
                <mat-nav-list *ngIf="menu.menus===null || menu.menus===undefined || menu.menus.length === 0">
                    <a mat-list-item (click)="onGoLink(menu)" class="ml-2" style="font-size:15px;margin-top: -20px;">
                        {{menu.title}}
                    </a>
                </mat-nav-list>
                <mat-accordion multi="true" *ngIf="menu.menus!==null && menu.menus!==undefined && menu.menus.length > 0"
                    [displayMode]="displayMode">
                    <mat-expansion-panel class="no-shadow" [expanded]="menu.expanded">
                        <mat-expansion-panel-header  fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
                            <mat-panel-title>
                                {{menu.title}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-nav-list class="ml-0" dense>
                            <mat-list-item *ngFor="let c of menu.menus" [ngClass]="{'active-menu': c.expanded}" (click)="onGoLink(c)">
                                <a href="{{c.url}}">{{c.title}}</a>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-template>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="header-box-shadow">
            <button mat-icon-button (click)="sidenav.toggle()" fxShow.sm="true" fxShow.gt-sm="false">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button>
                <mat-icon class="mr-1">home</mat-icon>
                {{ translateKey.MASTER_PAGE.PAGE_HEADER | translate }}
            </button>
            <span class="spacer"></span>
            <img [matMenuTriggerFor]="langMenu" [src]="lang.activeAvatar" width="30" class="c-pointer" />
            <mat-menu #langMenu="matMenu" overlapTrigger="false">
                <button (click)="onSelectLang(e)" class="item-lang" mat-menu-item *ngFor="let e of lang.langs">
                    <img [src]="e.avatar" />
                    <span>{{e.title}}</span>
                </button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu" fxShow.lt-md="false" fxShow.gt-sm="true">
                <img class="circle" [src]="model.avatar" width="24">
                <span class="ml-2">{{model.fullName}}</span>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" fxShow.lt-md="true" fxShow.gt-sm="false">
                <img class="circle" [src]="model.avatar" width="24">
            </button>
            <mat-menu #menu="matMenu" overlapTrigger="false">
                <button mat-menu-item *ngFor="let menu of model.cmsTopMenus">
                    <mat-icon>{{menu.icon}}</mat-icon>
                    <span>{{menu.title}}</span>
                </button>
            </mat-menu>
            <mat-icon class="ml-3 c-pointer" (click)="onLogout()" title="{{ translateKey.MASTER_PAGE.LOGOUT | translate }}">exit_to_app</mat-icon>
        </mat-toolbar>
        <div class="master-page-container">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
