table {
  width: 100%;
}

.scroll-container {
  height: 100%;
  overflow: auto;
}

.example-full-width {
  width: 100%;
}

.input-text{
  min-width: 300px !important;
}

.align-r-1{
  position: absolute !important;
  line-height: 25px !important;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

.align-r-2{
  cursor: pointer;
  float:right !important;
  position: relative !important;
  width:120px !important;
}
.container {
  height: auto;
  overflow: hidden;
  margin-bottom: 5px;
}
   
.right {
   float: right;
}

.left {
   float: none; /* not needed, just for clarification */
   width: auto;
   overflow: hidden;
}
