<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">
            {{ translateKey.COMPETITION_CONFIG.NAV | translate }}
        </a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="acitve-route">{{ translateKey.COMPETITION_CONFIG.PAGE_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.COMPETITION_CONFIG.PAGE_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-4">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                        <app-autocomplete [dataSource]="competitions"
                        [(ngModel)]="selectedCompetitionId"
                        (selectionChange)= "onChangeCompetition()"
                        placeholder="{{ translateKey.COMPETITION_CONFIG.SELECT_COMPETITION | translate }}"
                        displayField="title"
                        selectField="id">
                    </app-autocomplete>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="right" style="display:inline-flex" style="cursor: pointer;display: inline-flex;" (click)="onAddSoccerTeam()">
                    <i class="material-icons"> group_add </i>
                    <div style="line-height: 24px; margin-left: 6px;">
                        {{ translateKey.COMPETITION_CONFIG.BTN_CHOOSE_TEAM | translate }} </div>
                </div>
                <div class="left">
                    <b> {{ this.translateKey.COMPETITION_CONFIG.LIST_TEAM_COMPETITION_HEADER | translate :
                        this.lengthTeam }}</b>
                </div>
            </div>

            <table mat-table [dataSource]="dataSource" class="sbg-table">

                <!-- STT Column -->
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 80px; text-align: center;padding-left: 0px !important;">
                        {{ translateKey.COMPETITION_CONFIG.TABLE_HEADER_STT | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: center;padding-left: 0px !important;">
                        {{i + 1}}
                    </td>
                </ng-container>

                <!-- team -->
                <ng-container matColumnDef="TEAM">
                    <th mat-header-cell *matHeaderCellDef style="width: 80%;" class="sbg-header">
                        {{ translateKey.COMPETITION_CONFIG.TABLE_HEADER_NAME_TEAM | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e" style="width: 80%; text-align: left;">
                        {{e.name}}
                    </td>
                </ng-container>

                <!-- Thao tác -->
                <ng-container matColumnDef="ACTIONS">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header" style="text-align: center; min-width: 90px;">
                        {{ translateKey.COMPETITION_CONFIG.TABLE_HEADER_ACTIONS | translate }}</th>
                    <td mat-cell *matCellDef="let e" class="text-center">
                        <i class="material-icons" matTooltip="{{ translateKey.COMPETITION_CONFIG.DELETE_ITEM | translate }}"
                            style="cursor: pointer;" (click)="onDelete(e)">
                            delete
                        </i>
                    </td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['STT', 'TEAM' , 'ACTIONS' ]; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: ['STT', 'TEAM' , 'ACTIONS' ];" class="element-row"></tr>
            </table>

        </div>
        <div class="sbg-form-footer" fxLayoutGap="10px">
            <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase " *ngIf="permissionAction.COMPETITION_CONFIG_TEAM">
                {{ translateKey.COMPETITION_CONFIG.BTN_UPDATE | translate }} </button>
            <button mat-raised-button (click)="onBack()" class="text-uppercase">
                {{ translateKey.COMPETITION_CONFIG.BTN_GO_TO_LIST | translate }}</button>
        </div>
    </div>

</app-master-page>