<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="acitve-route">{{ translateKey.COMPETITION_LIST.PAGE_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.COMPETITION_LIST.PAGE_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div>
                <mat-form-field class="sbg-form-field input-text">
                    <input matInput type="text"
                        placeholder="{{ translateKey.COMPETITION_LIST.INPUT_PLACE_HOLDER | translate }}"
                        [(ngModel)]="model.title" name="key">
                </mat-form-field>
                <button *ngIf="permissionAction.COMPETITION_SEARCH" mat-raised-button color="primary"
                    (click)="onSearch()" class="text-uppercase m-1"> {{
                    translateKey.COMPETITION_LIST.BTN_SEARCH | translate }}</button>

            </div>

            <div class="right-line">
                <div *ngIf="permissionAction.COMPETITION_ADD_COMPETITION" (click)="onCreateCompetition()">
                    <i class="material-icons">add</i> <span>
                        {{ translateKey.COMPETITION_LIST.BUTTON_ADD_COMPETITION | translate }}</span>
                </div>
            </div>
            <table mat-table [dataSource]="competitions" matSort (matSortChange)="sortData($event)"
                [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction" matSortDisableClear
                class="mat-table mat-elevation-z2 table-hover">

                <!-- STT Column -->
                <ng-container matColumnDef="STT">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header text-center table-header-column-1 pl-0">
                        {{ translateKey.COMPETITION_LIST.TABLE_HEADER_STT | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index" class="text-center pl-0">
                        {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                </ng-container>

                <!-- Tên giải đấu -->
                <ng-container matColumnDef="COMPETITION_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="Title" style="width: auto"
                        class="sbg-header">
                        {{ translateKey.COMPETITION_LIST.TABLE_HEADER_COMPETITION_NAME | translate }}
                    </th>
                    <td mat-cell *matCellDef="let e" style="width: auto; text-align: left;">{{e.title}}
                    </td>
                </ng-container>

                <!-- Thời gian diễn ra -->
                <ng-container matColumnDef="TIME">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 200px">
                        {{ translateKey.COMPETITION_LIST.TABLE_HEADER_COMPETITION_TIME
                        | translate }}</th>
                    <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.timeAt}} </td>
                </ng-container>

                <!-- Thao tác -->
                <ng-container matColumnDef="ACTIONS">
                    <th mat-header-cell *matHeaderCellDef class="sbg-header text-left table-header-column-4">
                        {{ translateKey.COMPETITION_LIST.TABLE_HEADER_ACTIONS | translate }}</th>
                    <td mat-cell *matCellDef="let e">
                        <i *ngIf="onShowActtionItem(e,'addTeam')" class="material-icons mr-1"
                            matTooltip="{{ translateKey.COMPETITION_LIST.TOOLTIP_ADD_SOCCER | translate }}"
                            style="cursor: pointer" (click)="onAddSoccerTeam(e.id)">add_circle_outline</i>
                        <i *ngIf="onShowActtionItem(e,'editCompetition')" class="material-icons"
                            matTooltip="{{ translateKey.COMPETITION_LIST.TOOLTIP_EDIT_COMPETITION | translate }}"
                            style="cursor: pointer" (click)="onEditCompetition(e.id)">edit</i>
                        <i *ngIf="onShowActtionItem(e,'configStage')" class="material-icons"
                            matTooltip="{{ translateKey.COMPETITION_LIST.TOOLTIP_MANAGE_STAGE | translate }}"
                            style="cursor: pointer " (click)="onManagerStage(e.id)">build</i>
                        <i *ngIf="onShowActtionItem(e,'deleteCompetition')" class="material-icons m-1"
                            matTooltip="{{ translateKey.COMPETITION_LIST.TOOLTIP_DELETE_COMPETITION | translate }}"
                            style="cursor: pointer" (click)="onDelete(e)">delete</i>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['STT', 'COMPETITION_NAME', 'TIME', 'ACTIONS' ]; sticky: true">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['STT', 'COMPETITION_NAME', 'TIME', 'ACTIONS' ];"
                    class="element-row"></tr>
            </table>
            <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length"
                [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
                (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
            </app-pagination>
        </div>
    </div>

</app-master-page>