<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/"> <span> {{ translateKey.SHARE.HOME_PAGE | translate }}</span></a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route"> {{ translateKey.PARTNER_MANAGER.PAGE_LIST_HEADER | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.PARTNER_MANAGER.PAGE_LIST_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-3">
                <div class="mdc-layout-grid__inner">
                    <!-- tiêu đề -->
                    <div class="mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_NAME | translate }}"
                                [formControl]="formGroup.controls.name" [(ngModel)]="model.name" name="name">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.PARTNER_MANAGER.LABLE_NAME | translate"
                            [errorMessage]="error.name" [control]="formGroup.controls.name"></app-show-errors>
                    </div>

                    <!-- trạng thái -->
                    <div class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.PARTNER_MANAGER.LABLE_STATUS | translate }}"
                                [(value)]="model.isActive" [(ngModel)]="model.isActive" name="status">
                                <mat-option value="" selected>{{ translateKey.SHARE.SELECT_ALL | translate }}</mat-option>
                                <mat-option [value]="true"> {{ translateKey.PARTNER_MANAGER.LABLE_IS_ACTIVE |
                                    translate}} </mat-option>
                                <mat-option [value]="false"> {{ translateKey.PARTNER_MANAGER.LABLE_IS_DEACTIVE |
                                    translate}} </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div>
                        <button *ngIf="permissionAction.PARTNER_SEARCH" mat-raised-button color="primary" (click)="onSubmit()"
                            class="text-uppercase"> {{
                            translateKey.PARTNER_MANAGER.BTN_SEARCH | translate }}</button>
                    </div>
                    <div class="right-line">
                        <div *ngIf="permissionAction.PARTNER_ADD" (click)="onCreate()">
                            <i class="material-icons">add</i> <span> {{
                                translateKey.PARTNER_MANAGER.BTN_ADD_PARTNER | translate }}
                            </span>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource"
                    matSort (matSortChange)="sortData($event)" 
                    [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                    matSortDisableClear
                     class="mat-table mat-elevation-z2">

                        <!-- STT Column -->
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px; text-align: center;">
                                {{ translateKey.PARTNER_MANAGER.TABLE_HEADER_STT | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                                {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                        </ng-container>

                        <!-- Tên đối tác-->
                        <ng-container matColumnDef="NAME_PARTNER">
                            <th mat-header-cell  mat-sort-header="Name" *matHeaderCellDef style="width: auto;" class="sbg-header pr-4">
                                {{ translateKey.PARTNER_MANAGER.TABLE_HEADER_NAME_PARTNER | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="width: auto; text-align: left;" class="pr-4">
                                {{e.name}}
                            </td>
                        </ng-container>

                        <!-- website -->
                        <ng-container matColumnDef="WEBSITE">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header pr-4" style="width:300px">
                                {{ translateKey.PARTNER_MANAGER.TABLE_HEADER_WEBSITE_PARTNER | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;" class="pr-4">
                                <a href="{{e.websiteUrl}}" target="_blank">{{e.website}}</a>
                            </td>
                        </ng-container>

                        <!-- Trạng thái -->
                        <ng-container matColumnDef="STATUS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                {{ translateKey.PARTNER_MANAGER.TABLE_HEADER_STATUS | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                <span *ngIf="e.isActive">{{ translateKey.PARTNER_MANAGER.LABLE_IS_ACTIVE | translate}}</span>
                                <span *ngIf="!e.isActive">{{ translateKey.PARTNER_MANAGER.LABLE_IS_DEACTIVE |
                                    translate}}</span>
                            </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:120px !important;padding-right: 0px !important;">
                                {{ translateKey.PARTNER_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                            <td mat-cell *matCellDef="let e" style="text-align: center; padding-right: 0px !important;">
                                <i *ngIf="onShowActtionItem(e,'addAdvertising')" class="material-icons m-1" matTooltip="{{ translateKey.PARTNER_MANAGER.TOOLTIP_ADD_ADVERTISINGS | translate }}"
                                    style="cursor: pointer" (click)="onaddAdvertising(e.id)">add_circle_outline</i>
                                <i *ngIf="onShowActtionItem(e,'updatePartner')" class="material-icons m-1" matTooltip="{{ translateKey.PARTNER_MANAGER.TOOLTIP_UPDATE_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onEdit(e)">edit</i>
                                <i *ngIf="onShowActtionItem(e,'deletePartner')" class="material-icons" matTooltip="{{ translateKey.PARTNER_MANAGER.TOOLTIP_DELETE_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onDelete(e)">delete</i>
                                <i *ngIf="onShowActtionItem(e,'deActivePartner')" class="material-icons" matTooltip="{{translateKey.PARTNER_MANAGER.TOOLTIP_DEACTIVE_PARTNER | translate}}"
                                    style="cursor: pointer;" (click)="onDeActive(e)">lock</i>
                                <i *ngIf="onShowActtionItem(e,'activePartner')" class="material-icons" matTooltip="{{translateKey.PARTNER_MANAGER.TOOLTIP_ACTIVE_PARTNER | translate}}"
                                    style="cursor: pointer;" (click)="onActive(e)">lock_open</i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['STT', 'NAME_PARTNER', 'WEBSITE', 'STATUS', 'ACTIONS' ]; sticky: true">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['STT', 'NAME_PARTNER', 'WEBSITE', 'STATUS', 'ACTIONS' ];"
                            class="element-row"></tr>
                    </table>
                    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length" [pageSize]="pagination.pageSize"
                        [pageSizeOptions]="pagination.pageSizeOptions" (pageChanged)="onPageChanged($event)"
                        [pageIndex]="pagination.pageIndex">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-master-page>