.mat-paginator{
    display:block
}
.mat-paginator-outer-container{
    display:flex
}
.mat-paginator-container{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    min-height:56px;
    padding:0 8px;
    flex-wrap:wrap-reverse;
    width:100%
}
.mat-paginator-page-size{
    display:flex;
    align-items:baseline;
    margin-right:8px
}
[dir=rtl] .mat-paginator-page-size{
    margin-right:0;
    margin-left:8px
}
.mat-paginator-page-size-label{
    margin:0 4px
}
.mat-paginator-page-size-select{
    margin:6px 4px 0 4px;
    width:56px
}
.mat-paginator-page-size-select.mat-form-field-appearance-outline{
    width:64px
}
.mat-paginator-page-size-select.mat-form-field-appearance-fill{
    width:64px
}
.mat-paginator-range-label{
    margin: 0;
}
.mat-paginator-range-actions{
    display:flex;
    align-items:center
}
.mat-paginator-icon{
    width:28px;
    fill:currentColor
}
[dir=rtl] .mat-paginator-icon{
    transform:rotate(180deg)
}
