<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()">{{ translateKey.ROUND.NAV | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route">{{ translateKey.ROUND_MANAGER.PAGE_CREATE_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.ROUND_MANAGER.FORM_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="competitionsInfo" [(ngModel)]="selectedCompetitionId"
                            displayField="title" required="true"
                            [formControl]="formGroup.controls.selectedCompetitionId" selectField="id"
                            (selectionChange)="selected($event)"
                            placeholder="{{ translateKey.ROUND_MANAGER.SELECT_COMPETITIONS | translate }}">
                        </app-autocomplete>
                        <app-show-errors
                            [displayName]="translateKey.ROUND_MANAGER.SELECT_COMPETITIONS_PLACEHOLDER | translate"
                            [errorMessage]="error.selectedCompetitionId"
                            [control]="formGroup.controls.selectedCompetitionId"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.ROUND_MANAGER.SELECT_STAGES | translate }}"
                                (focus)="removeValidateServer('soccerCompetitionStageId')" required
                                [formControl]="formGroup.controls.soccerCompetitionStageId"
                                [(ngModel)]="model.soccerCompetitionStageId">
                                <mat-option *ngFor="let stage of stageList" [value]="stage.id">
                                    {{stage.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.ROUND_MANAGER.SELECT_STAGES_PLACEHOLDER | translate"
                            [errorMessage]="error.soccerCompetitionStageId"
                            [control]="formGroup.controls.soccerCompetitionStageId"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput placeholder="{{ translateKey.ROUND_MANAGER.LABLE_TITLE | translate }}"
                                required autocomplete="off" (focus)="removeValidateServer('title')" type="text"
                                [(ngModel)]="model.title" [formControl]="formGroup.controls.title" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput
                                placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" type="description"
                                [(ngModel)]="model.description" [formControl]="formGroup.controls.description">
                                </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.startAt" (focus)="removeValidateServer('startAt')"
                            placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.startAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DATE_START | translate"
                            [errorMessage]="error.startAt" [control]="formGroup.controls.startAt">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.endAt" (focus)="removeValidateServer('endAt')"
                            placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DATE_END | translate }}"
                            [formControl]="formGroup.controls.endAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DATE_END | translate"
                            [errorMessage]="error.endAt" [control]="formGroup.controls.endAt"></app-show-errors>
                    </div>
                </div>
            </div>
        </div>
        <div class="sbg-form-footer">
            <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase"
                *ngIf="this.permissionAction.CREATE_ROUND">
                {{translateKey.ROUND_MANAGER.BTN_CREATE | translate}}</button>
            <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                {{translateKey.ROUND_MANAGER.BTN_BACK | translate }}</button>
        </div>
    </div>

</app-master-page>