<div>
    Validate Form:
</div>
<div>
    <div>
        <a href="validate-form/client">1. Validate client</a>
    </div>
    <div>
        <a href="validate-form/server">2. Validate server</a>
    </div>
</div>