<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/"> <span> {{ translateKey.SHARE.HOME_PAGE | translate }}</span></a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route"> {{ translateKey.LIVESTREAM_MANAGER.PAGE_LIST_HEADER | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.LIVESTREAM_MANAGER.PAGE_LIST_HEADER | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid mb-3">
                <div class="mdc-layout-grid__inner">

                    <!-- giải đấu -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-autocomplete [dataSource]="competitionList" [(ngModel)]="model.soccerCompetitionId"
                            displayField="title" selectField="id" (selectionChange)="onSearchRound()"
                            placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABEL_COMPETITION | translate }}">
                        </app-autocomplete>
                    </div>

                    <!-- round list -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABEL_ROUND | translate }}"
                                [(value)]="model.soccerRoundId" (selectionChange)="onSearchMatch()"
                                [(ngModel)]="model.soccerRoundId" name="soccerRoundId">
                                <mat-option *ngFor="let round of roundList" [value]="round.id">
                                    {{round.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- match list -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_MATCH | translate }}"
                                [(value)]="model.soccerMatchId" [(ngModel)]="model.soccerMatchId" name="soccerMatchId">
                                <mat-option *ngFor="let match of matchList" [value]="match.soccerMatchId">
                                    {{match.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- trạng thái -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_STATUS | translate }}"
                                [(value)]="model.livestreamStatus" [(ngModel)]="model.livestreamStatus" name="status">
                                <mat-option *ngFor="let status of statusList" [value]="status.value">
                                    {{status.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!-- ngày bắt đầu -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.dateStartAt" (focus)="removeValidateServer('dateStartAt')"
                            placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.dateStartAt" [settings]="optionDateOnly">
                        </app-date-picker>

                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_DATE_START | translate"
                            [errorMessage]="error.dateStartAt" [control]="formGroup.controls.dateStartAt">
                        </app-show-errors>
                    </div>

                    <!-- tiêu đề -->
                    <div
                        class="mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text"
                                placeholder="{{ translateKey.LIVESTREAM_MANAGER.LABLE_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title" name="title">
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.LIVESTREAM_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner" style="display:block">
                    <div>
                        <button *ngIf="permissionAction.LIVESTREAM_SEARCH" mat-raised-button color="primary"
                            (click)="onSubmit()" class="text-uppercase"> {{
                            translateKey.LIVESTREAM_MANAGER.BTN_SEARCH | translate }}</button>
                    </div>
                    <div class="right-line">
                        <div *ngIf="permissionAction.LIVESTREAM_ADD" (click)="onCreate()">
                            <i class="material-icons">add</i> <span> {{
                                translateKey.LIVESTREAM_MANAGER.BTN_ADD_LIVESTREAM | translate }}
                            </span>
                        </div>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
                        [matSortActive]="sortDefault.active" [matSortDirection]="sortDefault.direction"
                        matSortDisableClear class="mat-table mat-elevation-z2">

                        <!-- STT Column -->
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef
                                class="sbg-header text-center table-header-column-1 pl-0">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_STT | translate }}
                            </th>
                            <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;"
                                class="text-center">
                                {{(pagination.pageIndex - 1)*pagination.pageSize + (1 + i) }}</td>
                        </ng-container>

                        <!-- tiêu đề-->
                        <ng-container matColumnDef="TITLE">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="Title"
                                style="width: auto;min-width: 150px !important" class="sbg-header">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_TITLE | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="width: auto; text-align: left;">
                                {{e.title}}
                            </td>
                        </ng-container>

                        <!-- trận đấu-->
                        <ng-container matColumnDef="MATCH_NAME">
                            <th mat-header-cell *matHeaderCellDef style="width: 200px;" class="sbg-header">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_MATCH | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.soccerMatchTitle}}
                            </td>
                        </ng-container>

                        <!-- Giải đấu -->
                        <ng-container matColumnDef="COMPETITION_NAME">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 220px;">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_COMPETITION | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;"> {{e.soccerCompetitionTitle}}
                            </td>
                        </ng-container>

                        <!-- Ngày bắt đầu -->
                        <ng-container matColumnDef="TIME_START">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header"
                                style="width: 130px;min-width: 130px;">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_TIME_START | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.startAt}} </td>
                        </ng-container>

                        <!-- Trạng thái -->
                        <ng-container matColumnDef="STATUS">
                            <th mat-header-cell *matHeaderCellDef class="sbg-header"
                                style="width: 100px;min-width: 100px;">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_STATUS | translate }}
                            </th>
                            <td mat-cell *matCellDef="let e" style="text-align: left;">
                                {{e.statusTitle}} </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef
                                class="sbg-header padding-actions table-header-column-2 text-left pl-0">
                                {{ translateKey.LIVESTREAM_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                            <td mat-cell *matCellDef="let e" class="pl-0">
                                <i *ngIf="onShowActtionItem(e,'updateLivestream')" class="material-icons mr-1"
                                    matTooltip="{{ translateKey.LIVESTREAM_MANAGER.TOOLTIP_UPDATE_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onEdit(e)">edit</i>
                                <i *ngIf="onShowActtionItem(e,'deleteLivestream')" class="material-icons m-1"
                                    matTooltip="{{ translateKey.LIVESTREAM_MANAGER.TOOLTIP_DELETE_LIVESTREAM | translate }}"
                                    style="cursor: pointer" (click)="onDelete(e)">delete</i>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['STT', 'TITLE', 'MATCH_NAME', 'COMPETITION_NAME', 'TIME_START', 'STATUS', 'ACTIONS' ]; sticky: true">
                        </tr>
                        <tr mat-row
                            *matRowDef="let row; columns: ['STT', 'TITLE', 'MATCH_NAME', 'COMPETITION_NAME', 'TIME_START', 'STATUS', 'ACTIONS' ];"
                            class="element-row"></tr>
                    </table>
                    <app-pagination [(ngModel)]="pagination.pageIndex" [length]="pagination.length"
                        [pageSize]="pagination.pageSize" [pageSizeOptions]="pagination.pageSizeOptions"
                        (pageChanged)="onPageChanged($event)" [pageIndex]="pagination.pageIndex">
                    </app-pagination>
                </div>
            </div>
        </div>
    </div>

</app-master-page>