<div class="container sbg-popup" [hidden]="hidePoup">
  <div fxLayout="row" class="mb-3 sbg-popup-title" fxLayoutGap="20px" fxLayoutGap.xs="0" fxLayoutAlign="right">
    <label mat-dialog-title style="width: 95%" class="text-uppercase">
      {{translateKey.POPUP_EDIT_ROLE_USER.HEADER | translate}}
    </label>
    <i class="material-icons" style="width: 5%; cursor: pointer;" (click)="onClose()" matDialogClose>close </i>
  </div>
  <div class="row sbg-popup-body">
    <div fxLayout fxLayout.xs="column" fxLayoutAlign="right" fxLayoutGap="50px" fxLayoutGap.xs="0">
      <div>
        <span class="mat-h4 mat-strong">{{ translateKey.POPUP_EDIT_ROLE_USER.LABLE_LIST_ROLE | translate}}</span>
        <mat-selection-list #list [(ngModel)]="selectedOptions">
          <mat-list-option *ngFor="let role of userRoles" [value]="role.id" [checkboxPosition]="'before'">
            {{role.name}}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="sbg-popup-footer" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase">
      {{translateKey.POPUP_EDIT_ROLE_USER.BTN_UPDATE | translate}}</button>
    <button mat-raised-button (click)="onClose()" class="text-uppercase">
      {{translateKey.POPUP_EDIT_ROLE_USER.BTN_CLOSE | translate }}</button>
  </div>
</div>