<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_LIST_TITLE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <div class="active-route" *ngIf="show.Create">
            {{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_CREATE_TITLE | translate }}
        </div>
        <div class="active-route" *ngIf="!show.Create">
            {{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_UPDATE_TITLE | translate }}
        </div>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            <div *ngIf="show.Create">{{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_CREATE_TITLE | translate }}</div>
            <div *ngIf="!show.Create"> {{ translateKey.ADVERTISING_CONFIG_MANAGER.PAGE_UPDATE_TITLE | translate }}</div>
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <!-- tên -->
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput type="text" (focus)="removeValidateServer('title')" placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE | translate }}"
                                [formControl]="formGroup.controls.title" [(ngModel)]="model.title" required>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>

                    <!-- mô tả -->
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput placeholder="{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" [(ngModel)]="model.description"
                                [formControl]="formGroup.controls.description">
                                    </textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="display:inline-flex">
                        <div class="lable-header-video">{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_PRE | translate }}</div>
                        <a (click)="onAddAdsPre()" class="choose-ads"> {{
                            translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_ADD_ADS | translate }} </a>
                    </div>
                    <div *ngIf="listPreRolls !== undefined && listPreRolls !== null && listPreRolls.length > 0;else noneContentPre"
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <table mat-table [dataSource]="dataSourcePreRolls" class="mat-table mat-elevation-z2">

                            <!-- STT Column -->
                            <ng-container matColumnDef="STT_PRE">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px; text-align: center;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STT | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                                    {{ (1 + i) }}</td>
                            </ng-container>

                            <!-- quảng cáo-->
                            <ng-container matColumnDef="TITLE_ADS_PRE">
                                <th mat-header-cell *matHeaderCellDef style="width: auto" class="sbg-header">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TITLE_ADS | translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    {{e.advertisingTitle}}
                                    <a (click)="onEditAdsPre(e)" class="choose-ads"> {{
                                        translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_EDIT_ADS | translate }} </a>
                                </td>
                            </ng-container>

                            <!--thời điểm bỏ qua  -->
                            <ng-container matColumnDef="TIME_BREAK_PRE">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_BREAK_PRE | translate
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input matInput autocomplete="off" [(ngModel)]="e.skipOffset" [appNumberOnly]="true"
                                            class="text-center" appMax="36000" appMin="0" maxlength="5">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- thời lượng -->
                            <ng-container matColumnDef="TIME_RUNNING_PRE">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_RUNNING_PRE |
                                    translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput [appNumberOnly]="true" appMax="36000" appMin="0"
                                            class="text-center" maxlength="5" [(ngModel)]="e.duration">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Action -->
                            <ng-container matColumnDef="ACTIONS_PRE">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:90px !important;padding-right: 0px !important;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                                <td mat-cell *matCellDef="let e" style="text-align: center;padding-right: 0px !important;">
                                    <i class="material-icons" matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_DELETE_ADS_CONFIG | translate }}"
                                        style="cursor: pointer" (click)="onDeletePreRoll(e)">delete</i>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['STT_PRE', 'TITLE_ADS_PRE', 'TIME_BREAK_PRE', 'TIME_RUNNING_PRE', 'ACTIONS_PRE' ]; sticky: true">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['STT_PRE', 'TITLE_ADS_PRE', 'TIME_BREAK_PRE', 'TIME_RUNNING_PRE', 'ACTIONS_PRE' ];"
                                class="element-row"></tr>
                        </table>
                    </div>
                    <ng-template #noneContentPre>
                        <div class="text-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone none-result">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_NONE_CONTENT | translate }}</div>
                    </ng-template>
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="display:inline-flex">
                            <div class="lable-header-video">{{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_MID | translate }}</div>
                        <a (click)="onAddAdsMid()" class="choose-ads"> {{
                            translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_ADD_ADS | translate }}</a>
                    </div>
                    <div *ngIf="listMidRolls !== undefined && listMidRolls !== null && listMidRolls.length > 0;else noneContentMid"
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <table mat-table [dataSource]="dataSourceMidRolls" class="mat-table mat-elevation-z2">

                            <!-- STT Column -->
                            <ng-container matColumnDef="STT_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px; text-align: center;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STT | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                                    {{ (1 + i) }}</td>
                            </ng-container>

                            <!-- quảng cáo-->
                            <ng-container matColumnDef="TITLE_ADS_MID">
                                <th mat-header-cell *matHeaderCellDef style="width: auto" class="sbg-header">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TITLE_ADS | translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;"
                                    >
                                    {{e.advertisingTitle}}
                                    <a (click)="onEditAdsMid(e)" class="choose-ads"> {{
                                        translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_EDIT_ADS | translate }} </a>
                                </td>
                            </ng-container>

                            <!-- giờ bắt đầu -->
                            <ng-container matColumnDef="TIME_START_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_START_MID | translate
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput [appNumberOnly]="true" appMax="36000" appMin="0"
                                            class="text-center" maxlength="5" [(ngModel)]="e.timeOffset">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- phủ trên -->
                            <ng-container matColumnDef="COVERED_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 100px;text-align: center">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_COVERED_MID | translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;text-align: center">
                                    <mat-checkbox [(ngModel)]="e.overlay">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!--thời điểm bỏ qua  -->
                            <ng-container matColumnDef="TIME_BREAK_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_BREAK_PRE | translate
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput class="inputTime" [appNumberOnly]="true"
                                            class="text-center" appMax="36000" appMin="0" maxlength="5" [(ngModel)]="e.skipOffset">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- thời lượng -->
                            <ng-container matColumnDef="TIME_RUNNING_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_RUNNING_PRE |
                                    translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput class="inputTime" [appNumberOnly]="true"
                                            class="text-center" appMax="36000" appMin="0" maxlength="5" [(ngModel)]="e.duration">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Action -->
                            <ng-container matColumnDef="ACTIONS_MID">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:90px !important;padding-right: 0px !important;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                                <td mat-cell *matCellDef="let e" style="text-align: center;padding-right: 0px !important;">
                                    <i class="material-icons" matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_DELETE_ADS_CONFIG | translate }}"
                                        style="cursor: pointer" (click)="onDeleteMidRoll(e)">delete</i>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['STT_MID', 'TITLE_ADS_MID', 'TIME_START_MID', 'COVERED_MID' 
                        , 'TIME_BREAK_MID', 'TIME_RUNNING_MID', 'ACTIONS_MID' ]; sticky: true">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['STT_MID', 'TITLE_ADS_MID', 'TIME_START_MID', 'COVERED_MID' 
                        , 'TIME_BREAK_MID', 'TIME_RUNNING_MID', 'ACTIONS_MID' ];"
                                class="element-row"></tr>
                        </table>
                    </div>
                    <ng-template #noneContentMid>
                        <div class="text-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone none-result">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_NONE_CONTENT | translate }}</div>
                    </ng-template>
                    <div class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone" style="display:inline-flex">
                            <div class="lable-header-video"> {{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_POST | translate }}</div>
                        <a (click)="onAddAdsPost()" class="choose-ads"> {{
                            translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_ADD_ADS | translate }}</a>
                    </div>
                    <div *ngIf="listPostRolls !== undefined && listPostRolls !== null && listPostRolls.length > 0;else noneContentPost"
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">

                        <table mat-table [dataSource]="dataSourcePostRolls" class="mat-table mat-elevation-z2">

                            <!-- STT Column -->
                            <ng-container matColumnDef="STT_POST">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 50px; text-align: center;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_STT | translate }}
                                </th>
                                <td mat-cell *matCellDef="let element; let i = index" style="width: 50px;" class="text-center">
                                    {{ (1 + i) }}</td>
                            </ng-container>

                            <!-- quảng cáo-->
                            <ng-container matColumnDef="TITLE_ADS_POST">
                                <th mat-header-cell *matHeaderCellDef style="width: auto; max-width: 25%;" class="sbg-header">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TITLE_ADS | translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="width: auto; max-width: 25%; text-align: left;">
                                    {{e.advertisingTitle}}
                                    <a (click)="onEditAdsPost(e)" class="choose-ads"> {{
                                        translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_EDIT_ADS | translate }} </a>
                                </td>
                            </ng-container>

                            <!--thời điểm bỏ qua  -->
                            <ng-container matColumnDef="TIME_BREAK_POST">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_BREAK_PRE | translate
                                    }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput class="inputTime" [appNumberOnly]="true"
                                            class="text-center" appMax="36000" appMin="0" maxlength="5" [(ngModel)]="e.skipOffset">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- thời lượng -->
                            <ng-container matColumnDef="TIME_RUNNING_POST">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header" style="width: 150px">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_TIME_RUNNING_PRE |
                                    translate }}
                                </th>
                                <td mat-cell *matCellDef="let e" style="text-align: left;">
                                    <mat-form-field class="inputTime">
                                        <input autocomplete="off" matInput class="inputTime" [appNumberOnly]="true"
                                            class="text-center" appMax="36000" appMin="0" maxlength="5" [(ngModel)]="e.duration">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Action -->
                            <ng-container matColumnDef="ACTIONS_POST">
                                <th mat-header-cell *matHeaderCellDef class="sbg-header padding-actions" style="text-align: center; width:90px !important;padding-right: 0px !important;">
                                    {{ translateKey.ADVERTISING_CONFIG_MANAGER.TABLE_HEADER_ACTION | translate }} </th>
                                <td mat-cell *matCellDef="let e" style="text-align: center; padding-right: 0px !important;">
                                    <i class="material-icons" matTooltip="{{ translateKey.ADVERTISING_CONFIG_MANAGER.TOOLTIP_DELETE_ADS_CONFIG | translate }}"
                                        style="cursor: pointer" (click)="onDeletePostRoll(e)">delete</i>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="['STT_POST', 'TITLE_ADS_POST', 'TIME_BREAK_POST', 'TIME_RUNNING_POST', 'ACTIONS_POST' ]; sticky: true">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: ['STT_POST', 'TITLE_ADS_POST', 'TIME_BREAK_POST', 'TIME_RUNNING_POST', 'ACTIONS_POST' ];"
                                class="element-row"></tr>
                        </table>
                    </div>
                    <ng-template #noneContentPost>
                        <div class="text-center mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone none-result">
                            {{ translateKey.ADVERTISING_CONFIG_MANAGER.LABLE_CONFIG_ADS_NONE_CONTENT | translate }}</div>
                    </ng-template>
                </div>
            </div>
            <div class="mdc-layout-grid" style="display:block;">
                <div class="sbg-form-footer">
                    <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase" *ngIf="show.Create &&  this.permissionAction.CREATE_ADVERTISING_CONFIG">
                        {{translateKey.ADVERTISING_CONFIG_MANAGER.BTN_CREATE | translate}}</button>
                    <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase" *ngIf="!show.Create &&  this.permissionAction.UPDATE_ADVERTISING_CONFIG">
                        {{translateKey.ADVERTISING_CONFIG_MANAGER.BTN_UPDATE | translate}}</button>
                    <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                        {{translateKey.ADVERTISING_CONFIG_MANAGER.BTN_BACK | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</app-master-page>