<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <span class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</span>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.COMPETITION_ADD_EDIT.NAV | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a class="acitve-route"
            *ngIf="showBtn.showBtnCreate">{{ translateKey.COMPETITION_ADD_EDIT.PAGE_TITLE_ADD| translate }}</a>
        <a class="acitve-route"
            *ngIf="!showBtn.showBtnCreate">{{ translateKey.COMPETITION_ADD_EDIT.PAGE_TITLE_EDIT| translate }}</a>
    </mat-toolbar-row>

    <div class="sbg-form">
        <div class="sbg-form-title" *ngIf="showBtn.showBtnCreate">
            {{ translateKey.COMPETITION_ADD_EDIT.PAGE_HEADER_ADD | translate }}
        </div>
        <div class="sbg-form-title" *ngIf="!showBtn.showBtnCreate">
            {{ translateKey.COMPETITION_ADD_EDIT.PAGE_HEADER_EDIT | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <mat-select
                                placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_COMPETITION_TYPE | translate }} "
                                [formControl]="formGroup.controls.competitionBase"
                                (focus)="removeValidateServer('competitionBase')"
                                [(ngModel)]="competitionCreateEditModel.soccerCompetitionBaseId" required>
                                <mat-option *ngFor="let com of competitionBases" [value]="com.id">
                                    {{com.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_COMPETITION_TYPE | translate"
                            [errorMessage]="error.competitionBase" [control]="formGroup.controls.competitionBase">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput
                                placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_COMPETITION_SEASON | translate }}"
                                (focus)="removeValidateServer('season')" required
                                [formControl]="formGroup.controls.season"
                                [(ngModel)]="competitionCreateEditModel.season" name="season" />
                        </mat-form-field>
                        <app-show-errors
                            [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_COMPETITION_SEASON | translate"
                            [errorMessage]="error.season" [control]="formGroup.controls.season"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput
                                placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_TITLE | translate }} "
                                (focus)="removeValidateServer('title')" required
                                [formControl]="formGroup.controls.title" [(ngModel)]="competitionCreateEditModel.title"
                                name="title" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                        <mat-form-field class="sbg-full-width">
                                <textarea rows="4" matInput
                                    placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_DES | translate }}"
                                    [formControl]="formGroup.controls.description"
                                    (focus)="removeValidateServer('description')"
                                    [(ngModel)]="competitionCreateEditModel.description" name="description"></textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_DES | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput [formControl]="formGroup.controls.place"
                                (focus)="removeValidateServer('place')"
                                placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_PLACE | translate }}"
                                [(ngModel)]="competitionCreateEditModel.place" name="place" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_PLACE | translate"
                            [errorMessage]="error.place" [control]="formGroup.controls.place"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="competitionCreateEditModel.startAt"
                            (focus)="removeValidateServer('startAt')"
                            placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_START_AT | translate }}"
                            [formControl]="formGroup.controls.startAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_START_AT | translate"
                            [errorMessage]="error.startAt" [control]="formGroup.controls.startAt">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="competitionCreateEditModel.endAt"
                            (focus)="removeValidateServer('endAt')"
                            placeholder="{{ translateKey.COMPETITION_ADD_EDIT.LABEL_END_AT | translate }}"
                            [formControl]="formGroup.controls.endAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.COMPETITION_ADD_EDIT.LABEL_END_AT | translate"
                            [errorMessage]="error.endAt" [control]="formGroup.controls.endAt"></app-show-errors>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <div class="title-stage" required>
                            {{ translateKey.COMPETITION_ADD_EDIT.LABEL_STAGE | translate }}</div>
                        <mat-selection-list #list [(ngModel)]="selectedOptions" (selectionChange)="onChange($event)">
                            <mat-list-option *ngFor="let stage of stages" [value]="stage.id"
                                [checkboxPosition]="'before'">
                                {{stage.title}}
                            </mat-list-option>
                        </mat-selection-list>
                    </div>
                </div>
            </div>
            <div class="sbg-form-footer" fxLayoutGap="10px">
                <button mat-raised-button (click)="onCreate()" color="primary" class="text-uppercase "
                    *ngIf="showBtn.showBtnCreate && permissionAction.COMPETITION_ADD_COMPETITION">
                    {{ translateKey.COMPETITION_ADD_EDIT.BTN_ADD | translate }} </button>
                <button mat-raised-button (click)="onEdit()" color="primary" class="text-uppercase "
                    *ngIf="!showBtn.showBtnCreate && permissionAction.COMPETITION_EDIT_COMPETITION">
                    {{ translateKey.COMPETITION_ADD_EDIT.BTN_EDIT | translate }} </button>
                <button mat-raised-button (click)="onBack()" class="text-uppercase">
                    {{ translateKey.COMPETITION_ADD_EDIT.BTN_GO_TO_LIST | translate }}</button>
            </div>
        </div>
    </div>
</app-master-page>