.min-width-1{
    min-width: 300px;
}

.min-width-2{
    min-width: 510px;
}

.title {
    font-size: 1.5em;
    text-decoration: underline
}

.title-stage {
    font-size: 19px;
    position: relative;
}

.red-star {
    position: absolute;
    top: 4px !important;
    font-weight: 10px;
    font-size: 11px;
    margin-left: 5px;
}

.sbg-form-footer {
    padding: 0 ;
}