<app-master-page>
    <mat-toolbar-row class="sbg-breadcrumbs">
        <a href="/" class="route">{{ translateKey.SHARE.HOME_PAGE | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <a (click)="onBack()" class="route">{{ translateKey.ROUND.NAV | translate }}</a>
        <i class="material-icons">
            keyboard_arrow_right
        </i>
        <span class="active-route">{{ translateKey.ROUND_MANAGER.PAGE_EDIT_TITLE | translate }}</span>
    </mat-toolbar-row>
    <div class="sbg-form">
        <div class="sbg-form-title">
            {{ translateKey.ROUND_MANAGER.PAGE_EDIT_TITLE | translate }}
        </div>
        <div class="sbg-form-body">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input readonly matInput required
                                placeholder="{{ translateKey.ROUND_MANAGER.SELECT_COMPETITIONS | translate }}"
                                [(ngModel)]="model.soccerCompetitionName">
                        </mat-form-field>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                        <mat-form-field class="sbg-full-width">
                            <input readonly matInput required
                                placeholder="{{ translateKey.ROUND_MANAGER.SELECT_STAGES | translate }}"
                                [(ngModel)]="model.soccerCompetitionStageName">
                        </mat-form-field>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                        <mat-form-field class="sbg-full-width">
                            <input matInput placeholder="{{ translateKey.ROUND_MANAGER.LABLE_TITLE | translate }}"
                                required (focus)="removeValidateServer('title')" type="text" [(ngModel)]="model.title"
                                autocomplete="off" [formControl]="formGroup.controls.title" />
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_TITLE | translate"
                            [errorMessage]="error.title" [control]="formGroup.controls.title"></app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet mdc-layout-grid__cell--span-12-phone">
                        <mat-form-field class="sbg-full-width">
                            <textarea rows="4" matInput
                                placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DESCRIPTION | translate }}"
                                (focus)="removeValidateServer('description')" type="description"
                                [(ngModel)]="model.description"
                                [formControl]="formGroup.controls.description"></textarea>
                        </mat-form-field>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DESCRIPTION | translate"
                            [errorMessage]="error.description" [control]="formGroup.controls.description">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.startAt" (focus)="removeValidateServer('startAt')"
                            placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DATE_START | translate }}"
                            [formControl]="formGroup.controls.startAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DATE_START | translate"
                            [errorMessage]="error.startAt" [control]="formGroup.controls.startAt">
                        </app-show-errors>
                    </div>
                    <div
                        class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                        <app-date-picker [(ngModel)]="model.endAt" (focus)="removeValidateServer('endAt')"
                            placeholder="{{ translateKey.ROUND_MANAGER.LABLE_DATE_END | translate }}"
                            [formControl]="formGroup.controls.endAt" [settings]="optionDateOnly">
                        </app-date-picker>
                        <app-show-errors [displayName]="translateKey.ROUND_MANAGER.LABLE_DATE_END | translate"
                            [errorMessage]="error.endAt" [control]="formGroup.controls.endAt"></app-show-errors>
                    </div>
                </div>
            </div>
        </div>
        <div class="sbg-form-footer">
            <button mat-raised-button (click)="onSave()" color="primary" class="text-uppercase"
                *ngIf="this.permissionAction.EDIT_ROUND">
                {{translateKey.ROUND_MANAGER.BTN_UPDATE | translate}}</button>
            <button mat-raised-button (click)="onBack()" class="text-uppercase ml-2">
                {{translateKey.ROUND_MANAGER.BTN_BACK | translate }}</button>
        </div>
    </div>

</app-master-page>